.TemplateIcon {
  width: 29px;
  height: 29px;
}

.HSMTemplate > div:nth-child(2n + 1) {
  display: inline-block !important;
  width: 48% !important;
  vertical-align: top !important;
  margin-left: 2% !important;
}

.HSMTemplate > div:nth-child(2n) {
  display: inline-block;
  width: 48%;
  vertical-align: top;
  margin-right: 2%;
}

.HSMTemplate {
  width: 90% !important;
}

.HSMTemplate > div.FormLayout_Buttons,
.HSMTemplate > div:first-child {
  display: block !important;
  width: 100% !important;
  margin-left: 0% !important;
}
