.Image {
  max-width: 284px;
  max-height: auto;
  cursor: pointer;
  background-size: cover !important;
  text-align: center;
}

.Image img {
  overflow: hidden;
  max-width: 250px;
  height: auto;
  object-fit: contain;
  text-align: center;
}

.SimulatorImage {
  max-width: 200px;
  max-height: auto;
  cursor: pointer;
  background-size: cover !important;
  text-align: center;
}

.SimulatorImage img {
  margin-top: 5px;
  overflow: hidden;
  max-width: 180px;
  height: auto;
  object-fit: contain;
  text-align: center;
}

.Video {
  max-width: 250px;
}

.SimulatorVideo {
  margin-top: 5px;
  max-width: 180px;
}

.Audio {
  max-width: 250px;
}

.SimulatorAudio {
  margin-top: 5px;
  max-width: 180px;
}

.Document {
  composes: Image;
  height: 100px;
}

.DocumentText {
  display: flex;
  align-items: center;
  width: 200px;
}

.DocumentText svg {
  margin-right: 4px;
}

.DocumentText {
  color: #073f24;
  text-decoration: none;
  font-weight: 700;
}
