.Image {
  max-width: 284px;
  max-height: auto;
  cursor: pointer;
  background-size: cover !important;
  text-align: center;
}

.Image img {
  overflow: hidden;
  max-width: 250px;
  height: auto;
  object-fit: contain;
  text-align: center;
}

.SimulatorImage {
  max-width: 200px;
  max-height: auto;
  cursor: pointer;
  background-size: cover !important;
  text-align: center;
}

.SimulatorImage img {
  margin-top: 5px;
  overflow: hidden;
  max-width: 180px;
  height: auto;
  object-fit: contain;
  text-align: center;
}

.Video {
  max-width: 250px !important;
  max-height: 180px !important;
}

.SimulatorVideo {
  margin-top: 5px;
  max-width: 180px;
  max-height: 120px;
}

.Audio {
  max-width: 250px;
}

.SimulatorAudio {
  margin-top: 5px;
  max-width: 180px;
}

.Document {
  display: flex;
  align-items: center;
}

.Document div {
  width: 250px;
  display: flex;
}

.Document > div > svg {
  margin-right: 8px;
}

.DocumentText {
  display: flex;
  align-items: center;
}

.DocumentText {
  color: #073f24;
  text-decoration: none;
}

.DownloadIcon {
  margin-left: auto;
}
