.Input {
  display: flex;
  padding: 8px 0px;
}

.Input label {
  color: #93a29b !important;
}

.Chip {
  background-color: #e2f1ea !important;
}

.HelperText {
  margin-left: 16px !important;
  color: #93a29b !important;
  line-height: 1 !important;
  font-size: 12px !important;
  margin-top: 4px !important;
}

.HelpLink {
  margin-left: auto;
  line-height: 1.28;
  color: #073f24;
  text-decoration: underline;
  margin-right: 6px;
  margin-top: 4px;
  cursor: pointer;
  font-size: 14px;
}
.DeleteIcon {
  width: 8px !important;
  margin-right: 13px !important;
}

.Paper > ul > li:hover {
  background-color: #edf6f2 !important;
}
.Paper > ul > li {
  color: #073f24;
}

.QuestionText {
  color: #073f24;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 8px 16px;
}

@media (max-width:768px) {
  .Input {
    width: 100% !important;
  }
}
