.TimePicker {
  width: 241px;
  display: inline-block;
  padding: 10px 0px;
}

.picker {
  width: 90%;
}

.HelperText {
  margin-left: 16px !important;
  color: #93a29b !important;
  line-height: 1 !important;
  font-size: 12px !important;
  margin-top: 4px !important;
}

@media screen and (max-width: 768px) {
  .picker,
  .TimePicker {
    width: 100% !important;
  }
}
