.Button {
  font-size: 16px;
  margin-right: 8px;
  color: white;
  border-radius: 27px;
  text-transform: none;
  box-shadow: 0px 4px 8px 0px #00000014;
}

.ButtonColor {
  background-color: #ffffff;
  color: #119656;
  border: 1px solid #cccccc;
}
