.CheckboxColor {
  color: #006d3f;
}

.Checkbox {
  margin-bottom: -10px;
  display: flex;
  align-items: center;
}

.Label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.Root {
  margin-right: 5px;
}

.Tooltip {
  margin-top: 4px;
  max-width: 150px;
}

.InfoIcon {
  margin-bottom: -2px;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.Disabled {
  opacity: 60%;
}
