.CheckboxColor {
  color: #073f24 !important;
}

.Checkbox {
  display: flex;
  align-items: center;
}

.Label {
  font-weight: 500 !important;
  font-size: 16px;
}

.Root {
  margin-right: 5px !important;
}

.Tooltip {
  margin-top: 4px;
  max-width: 150px !important;
}

.InfoIcon {
  margin-bottom: -4px;
  cursor: pointer;
  height: 16px;
  width: 16px;
}
