.MessageText {
  padding: 4px 16px;
  width: auto;
}

.SendMessage {
  border-radius: 7px;
  margin-right: 24px;
  color: #333;
  overflow: auto;
  background: white;
  width: fit-content;
  margin-bottom: 5px;
  max-width: 200px;
}

.ReceivedMessage {
  text-align: right;
  border-radius: 7px;
  margin-left: auto;
  overflow: auto;
  background: #dbf4c6;
  width: fit-content;
  max-width: 200px;
  margin-bottom: 5px;
}

.SimulatorIcon {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  padding: 4px;
  border-radius: 5px 0 0 0;
  width: 35px;
  height: 45px;
}

.SimulatorIconNormal {
  composes: SimulatorIcon;
  background-color: #119656;
}

.SimulatorIconClicked {
  composes: SimulatorIcon;
  background-color: #073f24;
}

.SimContainer {
  position: fixed;
  right: 0;
  top: 100px;
  z-index: 1000;
}

.Simulator {
  background: #444;
  border-radius: 12px;
  left: -300px;
  top: 0px;
  position: absolute;
  height: 500px;
  width: 260px;
  cursor: pointer;
  z-index: 1000;
  transition: right 400ms cubic-bezier(0.175, 0.885, 0.32, 1.075);
  transition-delay: 100ms;
}

.Simulator input:focus {
  outline-color: transparent;
  outline-style: none;
}
.Simulator input::-webkit-input-placeholder {
  color: #e6e6e6;
}
.Simulator input::-moz-placeholder {
  color: #e6e6e6;
}
.Simulator input:-ms-input-placeholder {
  color: #e6e6e6;
}
.Simulator input:-moz-placeholder {
  color: #e6e6e6;
}

.Simulator .Screen {
  top: 6px;
  height: 488px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 0px 5px;
  cursor: default;
  background-image: url('../../assets/images/whatsappBackground.jpg');
  background-size: cover;
}
.Simulator .Screen .Header {
  color: #eee;
  background: #2c6157;
  height: 38px;
  display: flex;
  align-items: center;
}

.Simulator .Screen .Header img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 4px;
}

.Simulator .Screen .Footer {
  color: #eee;
  background: #555;
  height: 35px;
  position: absolute;
  z-index: 200;
  bottom: 0;
  width: 100%;
}

.Simulator .Screen .Footer .Reset {
  background-color: #666;
  border: 2px solid #787878;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 16px;
  cursor: pointer;
  width: 60px;
  height: 15px;
  position: absolute;
  left: 94px;
  margin: 8px 0px;
}
.Simulator .Screen .Footer .Reset:hover {
  background-color: #787878;
  border: 2px solid #858585;
}
.Simulator .Screen .Footer .Reset .inactive {
  background-color: #666;
  border: 2px solid #787878;
}
.Simulator .Screen .Footer .Reset .active {
  background-color: #666;
  border: 2px solid #787878;
}
.Simulator .Screen .Messages {
  height: 381px;
  user-select: none;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  font-weight: 300;
  position: relative;
  transition: height 0.3s linear;
}
.Simulator .Screen .Controls {
  z-index: 100;
  display: flex;
  bottom: 0px;
  padding: 5px;
  bottom: 35px;
  position: absolute;
}

.Simulator .Screen .Controls input {
  border: none;
  outline: none;
  width: 100%;
}

.Simulator .Screen .Controls svg {
  width: 20px;
  height: 20px;
}

.Simulator .Screen .Controls div {
  border: none;

  border-radius: 999px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 13px;
  outline: none;
  background-color: white;
  display: flex;
  box-shadow: 0 1px silver;

  line-height: 5px;
}
.Simulator .Screen .Controls input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.SendButton {
  border-radius: 50% !important;
  min-width: unset !important;
  padding: 6px !important;
  margin-left: 4px !important;
}

.SendButton svg {
  width: 15px;
  height: 15px;
}
