.MessageText {
  padding: 4px 12px;
  padding-bottom: 14px;
  width: auto;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3;
  position: relative;
  width: fit-content;
  max-width: 200px;
  margin-bottom: 5px;
  overflow: auto;
  border-radius: 7px;
  white-space: pre-line;
}

.MessageText a {
  text-decoration: none;
}

.ReceivedMessage .MessageText {
  margin-right: 25px;
}

.ReceivedMessage {
  composes: MessageText;
  margin-right: 24px;
  color: #333;
  background: white;
  width: 200px;
  margin-top: 4px;
}

.SendMessage {
  composes: MessageText;
  text-align: right;
  padding-right: 22px;
  margin-left: auto;
  background: #e1f4c9;
}

.TimeSent {
  font-size: 8px;
  color: #868181;
  position: absolute;
  right: 15px;
  bottom: 3px;
}

.SendMessage svg {
  width: 10px;
  height: 10px;
  color: #5ec3db;
  position: absolute;
  right: 3px;
  bottom: 3px;
}

.TimeReceived {
  font-size: 8px;
  color: #868181;
  position: absolute;
  right: 15px;
  bottom: 2px;
}

.SimulatorIcon {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  padding: 4px;
  border-radius: 5px 0 0 0;
  width: 35px;
  height: 45px;
}

.SimulatorIconNormal {
  composes: SimulatorIcon;
  background-color: #119656;
}

@media only screen and (max-width: 768px) {
  .SimulatorIconNormal {
    display: none;
  }
}

.SimulatorIconClicked {
  composes: SimulatorIcon;
  background-color: #073f24;
}

.SimContainer {
  position: fixed;
  right: 0;
  top: 100px;
  z-index: 10000;
}

.Simulator {
  background-image: url('../../assets/images/phone.png');
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(0px 0px 10px #222);
  filter: drop-shadow(0px 0px 10px #222);
  border-radius: 12px;
  right: 50px;
  top: -50px;
  position: absolute;
  height: 576px;
  width: 304px;
  padding: 0px 16px;

  z-index: 1000;
  transition: right 400ms cubic-bezier(0.175, 0.885, 0.32, 1.075);
  transition-delay: 100ms;
}

.Simulator input:focus {
  outline-color: transparent;
  outline-style: none;
}
.Simulator input::-webkit-input-placeholder {
  color: #e6e6e6;
}
.Simulator input::-moz-placeholder {
  color: #e6e6e6;
}
.Simulator input:-ms-input-placeholder {
  color: #e6e6e6;
}
.Simulator input:-moz-placeholder {
  color: #e6e6e6;
}

.Simulator .Screen {
  top: 53px;
  height: 464px;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  margin: 0px 5px;
  cursor: default;
  background-image: url('../../assets/images/whatsappBackground.jpg');
  background-size: contain;
}
.Simulator .Screen .Header {
  color: #eee;
  background: #2c6157;
  height: 50px;
  display: flex;
  align-items: center;
  border-top: 10px solid black;
}

.Simulator .Screen .Header img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 4px;
}

.Header svg {
  width: 18px;
  height: 18px;
  margin-left: 7px;
}

.Header span {
  font-weight: bold;
}

.Header div {
  margin-left: auto;
  margin-right: 5px;
  align-items: center;
  display: flex;
}

.Simulator .Screen .Messages {
  height: 368px;
  user-select: none;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  font-weight: 300;
  position: relative;
  transition: height 0.3s linear;
}
.Simulator .Screen .Controls {
  z-index: 100;
  display: flex;
  bottom: 0px;
  padding: 5px;
  position: absolute;
}

.Icon {
  color: #a4a7ab;
}

.AttachFileIcon {
  color: #a4a7ab;
  transform: rotate(-40deg);
  margin-right: 4px;
  cursor: pointer;
}

.Simulator .Screen .Controls input {
  border: none;
  outline: none;
  width: 100%;
}

.Simulator .Screen .Controls svg {
  width: 20px;
  height: 20px;
}

.Simulator .Screen .Controls div {
  border: none;

  border-radius: 999px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  outline: none;
  background-color: white;
  display: flex;
  box-shadow: 0 1px silver;

  line-height: 5px;
}
.Simulator .Screen .Controls input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.SendButton {
  border-radius: 50% !important;
  min-width: unset !important;
  padding: 6px !important;
  margin-left: 4px !important;
}

.SendButton svg {
  width: 15px;
  height: 15px;
}

.ClearIcon {
  position: absolute;
  top: -3px;
  color: #073f24;
  right: -20px;
  cursor: pointer;
}

.ResetIcon {
  position: absolute;
  top: 30px;
  right: -18px;
  cursor: pointer;
}

.Image {
  width: 175px;
}

.PreviewButton {
  z-index: 1000;
  position: fixed;
  right: 120px;
  bottom: 12px;
}

.Button {
  background-color: white !important;
}

.CrossIcon {
  margin-left: 15px;
  color: grey;
}

.TemplateButtons {
  width: 200px;
}

.Dropdown {
  position: absolute;
  top: -168px;
  display: flex;
  flex-direction: column;
  border-radius: 0px !important;
  justify-content: left;
}

.Dropdown button {
  padding: 4px;
  justify-content: left;
}

.BackgroundTint {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
}

.InteractiveReceivedMessage {
  background: transparent !important;
  padding: 0px !important;
}
