.Table {
  background-color: #ffffff;
}
.TableRow {
  position: relative;
  display: flex !important;
  background-color: white;
  box-shadow: 0px 4px 4px 0px #0000000a;
  border-bottom: 1px solid #efefef;
  padding: 4px 13px;
  padding-right: 5px;
}

.TableHeadRow {
  z-index: 100;
  border-radius: '10px';
}

.TableCell {
  font-size: 14px !important;
  display: flex !important;
  padding: 0px 10px !important;
  margin: 0;
  border: unset !important;
  color: #0c1f14 !important;
}

.TableContainer {
  padding: 14px 24px;
  overflow: hidden;
  height: calc(100vh - 200px) !important;
}

.TableFooter {
  border-radius: 0 0 10px 10px;
  display: flex !important;
  justify-content: flex-end !important;
  height: 50px;
  background: #fff;
  bottom: 0px;
  right: 4px;
  box-shadow: 0px -4px 4px 0px #0000000a;
}

.FooterRow {
  border: 0px !important;
  font-size: 16px !important;
  color: #073f24 !important;
}

.FooterRow > div {
  min-height: 55px;
}

.TableText {
  margin-right: 23px;
  text-align: left;
  padding: 12px 0px;
  font-size: 14px;
  color: #93a29b;
  line-height: 1.25;
  white-space: pre-line;
  margin: 0;
}

.LabelText {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  color: #073f24;
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 1;
}

.ActiveRow {
  color: #073f24;
}

.InactiveRow {
  color: #ccd4d0 !important;
}

.Body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.RowStyle {
  padding: 15px 20px 15px 25px !important;
}

.RowHeadStyle {
  background-color: #dfece2 !important;
  color: rgba(12, 31, 20, 0.57) !important;
  z-index: 100 !important;
  padding-left: 22px !important;
  padding-right: 25px !important;
}

.HeaderColor {
  color: rgba(12, 31, 20, 0.57) !important;
}

.StyleForContainer {
  min-height: calc(100% - 50px) !important;
  max-height: calc(100% - 50px) !important;
  background: #fff !important;
  overflow-y: scroll !important;
  scrollbar-width: none !important;
  border-radius: 10px 10px 0 0 !important;
}

.StyleForContainer::-webkit-scrollbar {
  width: 0 !important;
}
