.TableRow {
  display: flex !important;
  background-color: white;
  border-radius: 12px !important;
  margin-bottom: 12px !important;
  border: 1px solid #eaedec !important;
  padding: 4px 13px;
  padding-right: 5px;
}

.CollapseTableRow {
  composes: TableRow;
  margin-top: -20px !important;
  border-radius: 0 0 12px 12px !important;
}

.TableHeadRow {
  position: fixed;
  top: 80px;
  margin-top: 20px;
  width: calc(100% - 280px);
  z-index: 1000;
  background-color: #fafafa;
  display: flex !important;
  margin-bottom: 4px !important;
  padding: 0px 16px;
  padding-right: 5px;
  line-height: 1 !important;
}

.TableBody {
  display: block;
  padding-top: 40px;
}

.TableCell {
  font-size: 14px !important;
  color: #ccd4d0 !important;
  display: flex !important;
  padding: 0px 10px !important;
  border: unset !important;
}

.TableContainer {
  margin: 14px 24px;
  margin-bottom: 50px;
  overflow: auto;
}

.TableFooter {
  position: fixed;
  display: flex !important;
  justify-content: flex-end !important;
  width: calc(100% - 243px);
  background: #fafafa;
  bottom: 0px;
  right: 4px;
}

.FooterRow {
  border: 0px !important;
  font-size: 16px !important;
  color: #073f24 !important;
}

.FooterRow > div {
  min-height: 55px;
}

.TableText {
  margin-right: 23px;
  text-align: left;
  padding: 12px 0px;
  font-size: 16px;
  color: #93a29b;
  line-height: 1.25;
  white-space: pre-line;
  margin: 0;
}

.LabelText {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  color: #073f24;
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 1;
}
