.TableRow {
  display: flex !important;
  background-color: white;
  border-radius: 12px !important;
  margin-top: 12px !important;
  border: 1px solid #eaedec !important;
  align-items: center !important;
  padding: 4px 16px;
}

.TableCell {
  flex-grow: 1;
  display: flex !important;
  padding: 0px !important;
  border: unset !important;
}

.TableContainer {
  margin: 12px 24px;
}
