.WalletBalance {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  font-size: 14px !important;
  text-align: center;
  width: 100%;
  z-index: 11111;
  height: 26px;
}

.WalletBalanceHigh {
  background-color: #119656;
}

.WalletBalanceLow {
  background-color: #dd1f1f;
}

.BalanceText {
  padding: 4px;
}

.Progress {
  color: #ffffff !important;
}

.Icon {
  width: 12px;
  height: 12px;
  padding-top: 2px;
  margin-right: 4px;
}

.WalletBalanceText {
  padding-top: 4px;
}
