.WalletBalance {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 500;
  width: 100%;
  height: 36px;
}

.Balance {
  margin-left: auto;
  margin-right: 14px;
  color: #119656;
}

.WalletBalanceHigh {
  background: #f0f7f1;
}

.WalletBalanceLow {
  background-color: #dd1f1f;
}

.BalanceText {
  color: #119656;
}

.Progress {
  color: #ffffff !important;
}

.Icon {
  width: 12px;
  height: 12px;
  padding-top: 2px;
  margin-right: 4px;
}

.WalletBalanceText {
  padding-left: 24px;
  display: flex;
  width: 100%;
  color: #191c1a;
}

.WalletBalanceLowText {
  padding-left: 24px;
  align-items: baseline;
  display: flex;
  width: 100%;
  color: white;
}

.BalanceLow {
  color: white;
  margin-left: auto;
  margin-right: 14px;
}
