.ListingContainer {
  height: calc(100% - 100px);
  overflow-y: auto;
  padding: 0px !important;
}

.CollectionListingContainer {
  height: 100%;
  overflow-y: auto;
  padding: 0px !important;
}

.StyledList {
  padding: 0 !important;
  width: 93%;
  margin: auto !important;
}

.Title {
  margin-left: 12px;
  font-family: 'Heebo', sans-serif;
}

/* Overriding Typography styling */
.TitleText {
  font-family: 'Heebo', sans-serif !important;
  font-size: 20px !important;
  color: #073f24 !important;
  text-transform: capitalize;
  font-weight: bold !important;
}

.LoadMore {
  margin-top: 10px !important;
  display: flex;
}

.Progress {
  margin: 0 auto;
}

.LoadMoreButton {
  background-color: #073f24;
  padding: 4px 8px;
  margin: 0 auto;
  border-radius: 12px 12px 0 0;
  color: #edf6f2;
  cursor: pointer;
  font-weight: 500;
  z-index: 101;
}

.ScrollToTopButton {
  display: flex;
  align-items: center;
  background-color: #073f24;
  font-weight: 500;
  padding: 1px 8px;
  margin: 0 auto;
  border-radius: 0 0 12px 12px;
  color: #edf6f2;
  cursor: pointer;
  position: absolute;
  top: 88px;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
}
