.Header {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  justify-content: space-between;
  background: #f8faf5;
}

.Name {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.BackIcon {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.Actions {
  display: flex;
  align-items: center;
}

.Actions Button {
  padding: 0.5rem 1.2rem;
}

.Header p {
  margin: 0;
  font-size: 38px;
  font-weight: 600;
}

.ConfigureContainer {
  display: flex;
  height: calc(100vh - 80px);
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  position: relative;
}

.FlowBuilder {
  flex: 1;
  min-width: 0;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  overflow: hidden;
}

.Preview {
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

.Toggle {
  width: 100%;
  display: flex;
  justify-content: center;
}



.PublishedBadge {
  background-color: #d1fae5;
  color: #065f46;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  margin-left: 1rem;
}

.SavingIndicator {
  color: #119656;
  font-size: 0.8rem;
  font-weight: 500;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  position: absolute;
  right: 0;
}

@media (max-width: 1024px) {
  .ConfigureContainer {
    flex-direction: column;
  }

  .Preview {
    flex: none;
    width: 100%;
    height: 600px;
  }
}