.Dropdown {
  display: flex;
  padding: 8px 0px;
}

.Label {
  width: 50%;
  align-self: center;
  font-weight: bold;
}

.InputBorder {
  border-radius: 12px;
  border-width: 2px;
}

.HelperText {
  margin-left: 0px;
  color: #93a29b;
  font-size: 12px;
}

.Paper {
  max-height: 400px;
}

.FieldLabel {
  margin-top: 16px;
  vertical-align: middle;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #555555;
  margin-bottom: 15px;
}
