.ChatMessage {
  display: inline-block;
  position: relative;
  max-width: 100%;
  border-radius: 12px;
  font-family: 'Heebo', sans-serif, emoji;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);

  clear: both;
  max-width: 404px;
  min-width: 85px;
}

.ChatMessage::after {
  content: '';
  display: table;
  clear: both;
}

.ChatMessage::before {
  content: '';
  position: absolute;
  bottom: 3px;
  width: 12px;
  height: 19px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.Button {
  margin: auto 12px;
  flex: none;
  cursor: pointer;
}

.ButtonLeft {
  margin-left: 8px;
}

.ButtonRight {
  margin-right: 8px;
}

.Mine {
  max-width: 404px;
  float: right;
  clear: both;
}

.MineColor {
  background-color: #fff;
  width: 100%;
}

.OtherColor {
  background-color: #a9d5c0;
}

.Mine::before {
  right: -11px;
}

.Other {
  max-width: 404px;
  float: left;
  clear: both;
}

.Other::before {
  left: -11px;
}

.Content {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #073f24;
  padding: 8px 16px;
  word-wrap: break-word;
  /* Supports breaklines without need for text conversions. */
  white-space: pre-line;
}

.Content a {
  text-decoration: none;
}

.Content a:visited {
  color: rgb(0, 0, 238);
}

.Content p {
  margin: 0px;
}

.Content::after {
  content: '';
  display: inline;
}

.DateLeft {
  justify-content: flex-end;
}

.Date {
  display: flex;
  color: gray;
  font-size: 10px;
  margin-bottom: 7px;
  line-height: normal;
}

.Popper {
  padding: 6px 16px !important;
  font-weight: 400 !important;
  width: 100% !important;
  justify-content: left !important;
  text-transform: none !important;
  color: #073f24 !important;
}

.Inline {
  display: flex;
}

.TagContainerSender {
  justify-content: flex-end;
}

.TagContainer {
  display: flex;
  line-height: 12px;
  margin-bottom: 11px;
  flex-wrap: wrap;
}

.TagMargin {
  margin-right: 0px !important;
  margin-left: 8px;
}

.Tag {
  font-family: 'Heebo', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #073f24;
  display: flex;
  align-items: center;
  margin-right: 13px;
}

.TagIcon {
  margin-right: 4.27px;
  font-weight: bold;
  width: 11px;
  vertical-align: text-top;
}

.MessageDetailsSender {
  margin-left: 32px;
  margin-top: 6px;
}

.MessageDetails {
  margin-top: 6px;
  margin-right: 32px;
}

.CloseIcon {
  width: 7px;
  margin-left: 4px;
  cursor: pointer;
}
