.ChatMessage {
  padding-top: 5px;
}

.Content {
  position: relative;
  max-width: 480px;

  padding: 8px 22px;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
}

/* .Content::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 24px;
	border: .75rem solid transparent;
	border-top: none;

	border-bottom-color: #fff;
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
  height: auto;
} */
