.ChatMessage {
  display: flex;
  position: relative;
  max-width: 100%;
  border-radius: 12px 12px 0px 12px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
  clear: both;
  max-width: 404px;
  min-width: 85px;
}

.ChatMessage::after {
  content: '';
  display: table;
  clear: both;
}

.ChatMessage::before {
  content: '';
  position: absolute;
  bottom: 3px;
  width: 12px;
  height: 19px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.Button {
  margin: auto 12px;
  flex: none;
  cursor: pointer;
}

.ButtonLeft {
  margin-left: 8px;
}

.ButtonRight {
  margin-right: 8px;
}

.Mine {
  max-width: 404px;
  float: right;
  clear: both;
}

.MineColor {
  background-color: #fff;
  width: 100%;
}

.OtherColor {
  border-radius: 12px 12px 12px 0px;
  background: #073f24;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
}

.Mine::before {
  right: -11px;
}

.Other {
  max-width: 404px;
  float: left;
  clear: both;
}

.Other::before {
  left: -11px;
}

.Content {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #073f24;
  padding: 8px;
  word-wrap: break-word;
  /* Supports breaklines without need for text conversions. */
  white-space: pre-line;
  max-width: 284px;
}

.ErrorContent {
  border-radius: 12px;
  border: 2px solid #ff0000;
}

.ErrorMsgIcon {
  margin: auto 12px;
  height: 100%;
}

.WarningTooltip {
  background-color: white !important;
  color: #ff0000 !important;
  border: 1px solid #ff0000;
}

.ArrowTooltip {
  color: #073f24 !important;
}

.Content a {
  text-decoration: none;
}

.Content a:visited {
  color: rgb(0, 0, 238);
}

.Content p {
  margin: 0px;
}

.Content::after {
  content: '';
  display: inline;
}

.DateLeft {
  color: #191c1a !important;
}

.Date {
  min-width: 85px;
  justify-content: flex-end;
  display: flex;
  color: #fff;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
}

.Popper {
  padding: 6px 16px !important;
  font-weight: 400 !important;
  width: 100% !important;
  justify-content: left !important;
  text-transform: none !important;
  color: #073f24 !important;
}

.Inline {
  display: flex;
}
.SendBy {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  margin: 4px 32px;
  color: #191c1a;
  font-size: 10px;
  font-weight: 400;
  line-height: 17px;
}

.MessageDetailsSender {
  margin-left: 32px;
  margin-top: 6px;
}

.MessageDetails {
  margin-top: 6px;
  margin-right: 32px;
}

.CloseIcon {
  width: 7px;
  margin-left: 4px;
  cursor: pointer;
}

.StickerBackground {
  background-color: #00000000;
  box-shadow: none;
}

.ErrorMessage {
  color: red;
  font-size: 12px;
  font-weight: 600;
}

.ReplyMessage {
  max-width: 372px;
  margin-left: 48px;
  margin-bottom: -20px;
  cursor: pointer;
}

.ReplyMessageBody {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
  font-weight: 400;
  color: #436d59;
  line-height: 18px;
  padding-top: 6px;
}

.ReplyMainWrap {
  padding: 12px 16px 30px 12px;
  border-radius: 12px;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 3px 0px #93a29e inset;
}

.ReplyContact {
  font-weight: 500;
  font-size: 14px;
  color: #93a29b;
  line-height: 14px;
}

.TemplateButtonOnError {
  margin-left: 42px;
}

.InteractiveMessage {
  box-shadow: none !important;
}

.InteractiveMessageMimeColor {
  background-color: #00000000;
}

.InteractiveContent {
  padding: 0px !important;
}

.Label {
  font-size: 12px;
  font-weight: 500;
  color: #073f24;
  display: flex;
  align-items: center;
  margin-right: 13px;
}

.LabelIcon {
  margin-right: 4.27px;
  font-weight: bold;
  width: 11px;
  vertical-align: text-top;
}

.LabelMargin {
  margin-right: 0px !important;
  margin-left: 8px;
}

.LabelContainer {
  display: flex;
  line-height: 12px;
  margin-bottom: 11px;
  flex-wrap: wrap;
}

.LabelContainerSender {
  justify-content: flex-end;
}

.DaySeparator {
  clear: both;
  display: flex;
  justify-content: center;
}

.DaySeparatorContent {
  padding: 8px 17px;
  background: #e0e0e0;
  color: #191c1a;
  font-size: 11px;
  font-weight: 500;
  border-radius: 5px;
}

.Icon {
  align-items: center;
  display: flex;
}

.ContactName {
  color: #cce6d0;
  font-size: 12px;
  padding-bottom: 8px;
  font-weight: bold;
}
