.DialogContainer {
  margin-top: 10px;
  height: fit-content;
  min-width: 300px;
  max-width: 347px;
}

.Message {
  margin-top: 16px;
  font-size: 16px;
  color: #93a29b;
  margin-bottom: 8px;
  white-space: pre-wrap;
}

.InputBorder {
  border-radius: 12px !important;
  border-width: 2px !important;
}
