.DialogboxPaper {
  width: 100%;
  height: 90%;
  margin-left: 25%;
  border-radius: 20px;
  padding: 2rem 4rem;
  position: relative;
}

.MessageField {
  grid-column-start: 1;
  grid-column-end: 3;
}

.MessageField textarea {
  min-height: 120px;
}

.CloseButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.Success {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Success h2 {
  color: #119656;
}
