.EndDate {
  min-width: 100px;
  width: 22%;
}

.Name {
  width: 33%;
  min-width: 250px;
}

.Collections {
  min-width: 145px;
  width: 20%;
}

.Icon {
  width: 29px;
  height: 29px;
}

.LabelText {
  word-break: break-all;
  padding: 0;
  margin: 0;
  font-size: 17px !important;
  word-break: break-all;
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 6px;
  line-height: 1;
}

.EndDateVal {
  font-size: 15px;
  color: #555555;
  white-space: pre-line;
  margin: 0;
  font-weight: 400;
}

.Collection {
  white-space: pre-line;
  margin: 0;
  font-weight: 400;
  padding: 8px 0px;
  color: #93a29b;
  font-size: 16px;
}

.Actions {
  width: 25%;
  min-width: 170px;
  text-align: end;
}

.TriggerIcon {
  margin-right: 8px;
}

.Tooltip {
  width: 120px;
}

.Inactive {
  color: #ccd4d0;
}

.NextTrigger {
  padding-bottom: 6px;
}

.NameContainer {
  display: flex;
  align-items: center;
}
