.EndDate {
  min-width: 100px;
  width: 22%;
}

.Name {
  width: 33%;
  min-width: 250px;
  padding: 6px 0 6px 20px;
}

.Collections {
  min-width: 145px;
  width: 20%;
}

.Icon {
  width: 29px;
  height: 29px;
}

.LabelText {
  word-break: break-all;
  padding: 14px 0px;
  margin: 0;
  font-size: 17px !important;
  word-break: break-all;
  color: #191c1a !important;
  font-weight: 500;
}

.EndDateVal {
  font-size: 15px;
  color: #555555;
  white-space: pre-line;
  margin: 0;
  font-weight: 400;
}

.Collection {
  font-size: 15px;
  color: #555555;
  white-space: pre-line;
  margin: 0;
  font-weight: 400;
}

.Actions {
  width: 25%;
  padding-right: 40px;
  min-width: 170px;
  text-align: end;
}

.TriggerIcon {
  margin-right: 8px;
}

.Tooltip {
  width: 120px;
}

.Inactive {
  color: #ccd4d0;
}
