.VoiceRecorder {
}

.RecorderIcon {
  position: absolute !important;
  bottom: 7px;
  right: 164px;
}

.AudioPlayerSection {
  display: flex;
  margin-top: 10px;
  margin-right: 173px;
  align-items: center;
}

.AudioPlayer {
  padding-right: 2px;
}

.RecordingStatus {
  padding-top: 3px;
  padding-left: 5px;
  text-transform: capitalize;
}

.Recording {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  opacity: 0.75;
  background-color: red;
}

.MicIcon {
  height: 24px;
  width: 24px;
}

@media only screen and (max-width: 1024px) {
  .RecorderIcon {
    position: absolute !important;
    bottom: -5%;
    right: 40%;
  }
}
