.Label {
  width: 200px;
}

.Body {
  width: 40%;
  margin-right: 10px;
  margin-left: 20px;
  word-break: break-word;
}

.Actions {
  width: 200px;
  justify-content: flex-end;
  margin-left: auto;
}

.LabelText {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  color: #073f24;
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 1;
  word-break: break-all;
}

.TableText {
  margin-right: 23px;
  text-align: left;
  padding: 12px 0px;
  font-size: 16px;
  color: #93a29b;
  line-height: 1.25;
  white-space: pre-line;
  margin: 0;
}

.Status {
  composes: TableText;
  display: flex;
  align-content: center;
}
.Status svg {
  margin-right: 8px;
}

.LastModified {
  width: 185px;
  padding-top: 12px;
  color: #93a29b;
}

.Status {
  width: 200px;
}
