.Name {
  width: 25%;
  min-width: 200px;
}

.Label {
  width: 200px;
}

.Body {
  width: 36%;
  min-width: 200px;
  word-break: break-word;
}

.Reason {
  width: 20%;
  margin-right: 10px;
  margin-left: 10px;
  word-break: break-word;
}

.Actions {
  width: 19%;
  min-width: 200px;
  text-align: end;
}

.LabelContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.LabelText {
  font-weight: 500;
  font-size: 17px;
  word-break: break-all;
}

.Quality {
  font-size: 12px;
  width: fit-content;
  padding: 2px 6px;
  background: #f0f7f1;
  color: #555555;
  border-radius: 8px;
}

.TableText {
  text-align: left;
  font-size: 14px;
  color: #93a29b;
  white-space: pre-line;
  margin: 0;
  padding: 0;
}

.Status {
  text-align: center;
}

.AlignCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Status svg {
  margin-right: 8px;
}

.LastModified {
  width: 20%;
  min-width: 185px;
  color: #93a29b;
}

.Status {
  width: 150px;
}

.Filters {
  margin-left: 24px;
}

.FilterLabel {
  color: #073f24 !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

.Input {
  display: inline;
}

.HelperText {
  position: absolute;
  color: #2ea36a;
  font-weight: 400;
  font-size: 10px;
  bottom: -20px;
  right: 10px;
  text-decoration: none !important;
  padding: 0 12px;
}

.ImportButton {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Uuid {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  color: #93a29b !important;
}

.Copy {
  margin-left: 2px;
  font-size: 12px;
}

.DropDown {
  border-radius: 24px;
  border: 1px solid #cccccc;
  display: flex;
  width: 130px;
  margin: auto;
  height: 36px !important;
  background: #ffffff;
  min-height: 36px !important;
}

.DropDown > fieldset {
  border: none !important;
}

.FormStyle {
  width: 150px !important;
}
