.Label {
  width: 200px;
}

.Body {
  width: 40%;
  margin-right: 10px;
  margin-left: 20px;
  word-break: break-word;
}

.Reason {
  width: 20%;
  margin-right: 10px;
  margin-left: 10px;
  word-break: break-word;
}

.Actions {
  width: 200px;
  justify-content: flex-end;
  margin-left: auto;
}

.LabelText {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 6px;
  line-height: 1;
  word-break: break-all;
}

.TableText {
  margin-right: 23px;
  text-align: left;
  padding: 12px 0px;
  font-size: 16px;
  color: #93a29b;
  line-height: 1.25;
  white-space: pre-line;
  margin: 0;
}

.Status {
  composes: TableText;
  display: flex;
  align-content: center;
}
.Status svg {
  margin-right: 8px;
}

.LastModified {
  width: 185px;
  padding-top: 12px;
  color: #93a29b;
}

.Status {
  width: 150px;
}

.Filters {
  margin-left: 24px;
}

.FilterLabel {
  color: #073f24 !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

.Input {
  display: inline;
}

.HelperText {
  position: absolute;
  bottom: -20px;
  left: 40px;
  color: green;
  font-weight: 500;
  font-size: 0.75rem;
  border-bottom: 1px dashed green;
  display: inline;
  text-decoration: none !important;
}

.ImportButton {
  position: relative;
  margin-bottom: 8px;
}

.Uuid {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  color: #93a29b !important;
}

.Copy {
  margin-left: 2px;
  font-size: 12px;
}
