.SearchField {
  height: 100%;
  width: 100%;
  border-radius: 24px;
  padding-left: 6px;
}

.IconAndText {
  width: 100%;
  display: flex;
  align-items: center;
}

.SearchBar {
  padding: 0 10px;
  border-radius: 24px;
  display: flex;
  width: calc(100% - 32px);
  margin: auto;
  height: 36px;
  box-shadow: 0px 2px 4px 0px #00000014;
  background: #ffffff;
  margin: 0 16px !important;
}

.SearchIcon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.SearchIconFilter {
  composes: SearchIcon;
  margin-right: 4px;
}

.CloseIcon {
  vertical-align: middle;
  color: #93a29b;
  margin-left: 3px;
  margin-right: 3px;
}

.ResetSearch {
  height: 80%;
  align-self: center;
  padding: 3px !important;
}

.FilterIcon {
  padding: 0 !important;
}
