.Buttons {
  display: flex;
  align-items: center;
  border-color: #e0e0e0;
}

.Table {
  border-radius: 10px;
}

.Title {
  margin-left: 14px;
  vertical-align: middle;
  color: #191c1a;
  display: flex;
  align-items: first baseline;
  font-weight: 700;
  font-size: 38px;
}

.additonalButton {
  width: 42px;
  height: 42px;
}

.IconButton {
  background-color: '#e0e0e0';
}
.InfoIcon {
  margin-left: 10px;
  height: 18px;
  width: 18px;
  cursor: pointer;
}

.AddButton {
  height: 80%;
  text-transform: capitalize;
  border-radius: 20px;
}

.AddButton a {
  text-decoration: none;
}

.Header {
  position: sticky;
  border-bottom: 1px solid #e0e0e0;
  top: 0;
  display: flex;
  padding: 22px 52px;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
}

.Icon {
  background-color: #eaedec;
  margin-right: 10px;
}

.Icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.Icons button > span:first-child {
  width: auto;
}

.ButtonsCenter {
  justify-content: center;
}

.DialogText {
  max-width: auto;
  margin-top: 0px;
  text-align: center;
  color: #073f24;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.DialogText div {
  max-width: 347px;
}

.BackLink {
  font-weight: 800;
  font-size: 16px;
  margin: 24px;
  margin-top: 12px;
  margin-bottom: 20px;
}

.BackLink a {
  color: #93a29b;
  text-decoration: none;
}

.BackLink svg {
  margin-right: 6px;
}

.TableFooter {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 243px);
  background: #fafafa;
  bottom: 0px;
  right: 4px;
}

.FooterRow {
  border: 0px;
  font-size: 16px;
  color: #073f24;
}

.FooterRow > div {
  min-height: 55px;
}

.NoResults {
  color: #93a29b;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  width: 230px;
}

.ButtonGroup {
  display: flex;
}

.NoPaddingMargin {
  padding: 0;
  margin: 0;
}

.FilterFields {
  display: flex;
  align-items: center;
  padding: 20px 48px 0 56px;
  justify-content: space-between;
}

.FlexCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MoreOptions {
  position: relative;
}

.PopUp {
  position: absolute;
  height: fit-content;
  width: 90px;
  margin-left: -60px;
  margin-top: 4px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px #00000014;
  flex-direction: column;
  z-index: 10;
  border: 1px solid #dddddd91;
  border-radius: 6px;
}

.DividerPopUp {
  color: #fdfdfd;
  width: 90px;
}

.IconWithText {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.NoTextDecoration {
  text-decoration: none;
}

.IconSize {
  height: 15px;
  width: 15px;
}

.TextButton {
  display: flex;
  align-items: center;
  color: #777777;
  font-size: 15px;
  width: 55px;
  padding: 0 5px;
}

.Body {
  height: calc(100vh - 200px);
}

.TextList {
  color: #555555;
  font-weight: 400;
  font-size: 14px;
  margin-left: 20px;
}

.Hover {
  position: relative;
  margin-top: -10p;
}

.Triangle {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 14px solid #fff;
  margin-left: 10px;
}

.HoverPopUp {
  position: absolute;
}

.HoverPopUpText {
  background-color: white;
  width: 387px;
  box-shadow: 0px 4px 4px 0px #00000014;
  color: #555555;
  font-size: 12px;
  padding: 18px;
  border-radius: 5px;
  line-height: 18px;
  font-weight: 400;
}

.HoverLink {
  color: #119656;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.MoreOptionsIcon {
  height: 14px;
  display: flex;
  align-items: center;
}

.ViewButton {
  display: flex;
  height: 32px;
  padding: 11px 12px;
  justify-content: center;
  align-items: center;
  color: #777;
  font-size: 13px;
  font-weight: 400;
  border-radius: 16px;
  background: #f5f5f5;
  cursor: pointer;
  margin-right: 8px;
}
