.Buttons {
  width: 315px;
  border-color: #e0e0e0;
  vertical-align: middle;
  margin-left: auto;
}

.Table {
  border-radius: 10px;
}

.Title {
  margin-left: 14px !important;
  vertical-align: middle;
  font-weight: 500 !important;
  color: #073f24;
}

.additonalButton {
  width: 42px;
  height: 42px;
}

.IconButton {
  background-color: '#e0e0e0';
}

.DropdownButton {
  margin-left: 24px !important;
  border-radius: 50% !important;
  min-width: 25px !important;
  margin-right: 14px !important;
}

.AddButton {
  height: 80%;
  text-transform: capitalize;
  border-radius: 20px;
  margin-left: 24px;
}

.AddButton a {
  text-decoration: none;
}

.Body {
  margin-top: 100px;
}

.Header {
  position: fixed;
  background-color: #f9f7f3;
  top: 0;
  width: calc(100% - 233px);
  display: flex;
  padding: 10px;
  padding-top: 6px;
  z-index: 1000;
  padding-right: 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  height: 100px;
}

.DetailsPageHeader {
  composes: Header;
  width: calc(68% - 200px);
}

.Icon {
  background-color: #eaedec !important;
  margin-right: 10px !important;
}

.Icons {
  margin-left: auto;
}

.Icons button > span:first-child {
  width: auto;
}

.ButtonsCenter {
  justify-content: center !important;
}

.DialogText {
  max-width: auto;
  margin-top: 0px;
  text-align: center;
  color: #073f24;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.DialogText div {
  max-width: 347px;
}

.BackLink {
  font-weight: 800;
  font-size: 16px;
  margin: 24px;
  margin-top: 12px;
  margin-bottom: 20px;
}

.BackLink a {
  color: #93a29b;
  text-decoration: none;
}

.BackLink svg {
  margin-right: 6px;
}

.TableFooter {
  position: fixed;
  display: flex !important;
  justify-content: flex-end !important;
  width: calc(100% - 243px);
  background: #fafafa;
  bottom: 0px;
  right: 4px;
}

.FooterRow {
  border: 0px !important;
  font-size: 16px !important;
  color: #073f24 !important;
}

.FooterRow > div {
  min-height: 55px;
}

.NoResults {
  color: #93a29b;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  width: 230px;
}

.ButtonGroup {
  display: flex;
}

.TitleColumn {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  word-break: break-all;
}

.Active {
  composes: TitleColumn;
  color: #073f24;
}

.Inactive {
  composes: TitleColumn;
  color: #ccd4d0;
}
