.TemplateOptionsContainer {
  margin: 1rem 0;
}

.TextField {
  width: 100%;
  background-color: #ffffff;
  border-radius: 12px;
}

.Font {
  line-height: 1 !important;
  font-weight: 500 !important;
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  color: #93a29b;
}

.CallToActionWrapper {
  composes: Font;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.CallToActionWrapper > div {
  display: flex;
  justify-content: space-between;
}

.CallToActionWrapper > div > div:last-child {
  cursor: pointer;
}

.CallToActionWrapper > div:nth-of-type(3) > div {
  margin-bottom: 0px;
}

.QuickReplyWrapper {
  composes: Font;
  display: flex;
  align-items: center;
}

.QuickReplyWrapper > div {
  margin: 0px 4px 17px 4px;
  cursor: pointer;
}

.RadioStyles {
  composes: Font;
  margin-bottom: 0.5rem;
}

.RadioLabel > span:last-child {
  line-height: 1 !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  font-family: 'Heebo', sans-serif !important;
  color: #073f24 !important;
}

.TextFieldWrapper {
  display: block !important;
}

.FormControl > p {
  margin-left: 12px;
}

.RadioLabelWrapper {
  width: 50%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.Tooltip {
  background-color: #042c19 !important;
  font-size: 12px;
  line-height: 1.2;
  border-radius: 8px;
  font-weight: 400;
}

.QuickReplyContainer {
  padding: 24px;
  background: #f8faf5;
  border-radius: 12px;
  border: 1px solid #cccccc;
  margin-top: 18px;
}

.CallToActionAddButton {
  margin-top: 16px;
}

.CallToActionContainer {
  padding: 24px;
  background: #f8faf5;
  border-radius: 12px;
  border: 1px solid #cccccc;
  margin-top: 18px;
}

.RemoveIcon {
  cursor: pointer;
}

.RadioGroup > label > span:first-child {
  padding: 0px 8px !important;
}

.CallToActionTemplateFields {
  margin-bottom: 24px;
}

.Button {
  margin-top: 7px;
}

.FieldLabel {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #555555;
  padding-bottom: 14px;
}

.DefaultInputRoot {
  background-color: #ffffff;
}

.StartAdornment {
  padding-right: 0.5rem;
}

.WhatsappFormTemplateWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.TemplateOptionsHeader {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
}
