.Form {
  padding-top: 5px;
  padding-left: 4px;
  max-height: 260px;
  min-height: 100px;
  overflow: auto;
}

.Input {
  padding: 8px !important;
  font-size: 12px !important;
}

.SearchIcon {
  width: 13px;
}

.Outline {
  border-radius: 6px !important;
  border-width: 1px !important;
  border-color: #eaedec !important;
}

.Autocomplete {
  margin-bottom: 10px !important;
}

.Description {
  font-size: 16px;
  color: #93a29b;
  margin-top: 8px;
  margin-bottom: 8px;
}
