.ChatTemplates {
  position: absolute;
  width: 100%;
  bottom: 100px;
  padding-top: 10px;
  background-color: white;
  border-radius: 15px 15px 0px 0px;
}

.ShortcutList {
  max-height: 500px;
  /* position: fixed; */
  bottom: 0px;
  overflow-y: scroll;
  /* margin-top: 50px !important; */
  /* padding: 10px 0px 0px 0px !important; */
  /* border-radius: 25px 25px 0px 0px !important; */
}

.PopperListItem {
  color: #073f24 !important;
}

.PopperListItem:hover {
  background-color: #e2f1ea !important;
}

.Paper {
  border-radius: 25px 25px 0px 0px;
}
