.ChatTemplates {
  width: 100%;
  bottom: 100px;
  border-radius: 24px 24px 0px 0px !important;
  z-index: 10;
}

.ShortcutList {
  max-height: 350px;
  bottom: 0px;
  overflow-y: scroll;
  padding: 0 !important;
  border-radius: 24px 24px 0px 0px !important;
}

.Text {
  font-size: 0.875rem;
  margin: 0;
  width: calc(100% - 30px);
}

.PopperListItem {
  padding: 12px;
  border-bottom: 1px solid #efefef;
  position: relative;
  z-index: 100;
}

.Text b {
  color: #555;
  font-size: 15px;
  font-weight: 500;
}

.Text a {
  color: #119656;
  text-decoration-line: underline;
}

.Text span {
  color: #555;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.PopperListItem:hover {
  background-color: #e2f1ea !important;
}

.AttachmentPin {
  text-align: right;
  width: 30px;
}
