.ChatTemplates {
  position: absolute;
  width: 100%;
  bottom: 100px;
  padding-top: 5px;
  background-color: white;
  border-radius: 15px 15px 0px 0px;
}

.ShortcutList {
  max-height: 500px;
  bottom: 0px;
  overflow-y: scroll;
}

.Text {
  align-items: flex-start;
  margin: 0;
}

.PopperListItem {
  color: #073f24 !important;
}

.PopperListItem:hover {
  background-color: #e2f1ea !important;
}

.Paper {
  border-radius: 25px 25px 0px 0px;
}
