.ChatTemplates {
  position: absolute;
  width: 100%;
  bottom: 100px;
  padding-top: 5px;
  background-color: white;
  border-radius: 15px 15px 0px 0px;
}

.ShortcutList {
  max-height: 350px;
  bottom: 0px;
  overflow-y: scroll;
}

.ShortcutList::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}

.ShortcutList::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: lightgray;
  height: 1em;
  border: 0.2em solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 1em;
}

.Text {
  font-size: 0.875rem;
  margin: 0;
  width: calc(100% - 30px);
}

.PopperListItem {
  color: #073f24 !important;
}

.PopperListItem:hover {
  background-color: #e2f1ea !important;
}

.Paper {
  border-radius: 25px 25px 0px 0px;
}

.AttachmentPin {
  text-align: right;
  width: 30px;
}
