.Container {
  width: 100%;
  height: 100%;
}

.CenterLogin {
  display: flex;
  align-items: center;
  flex-direction: column;
  vertical-align: middle;
}

.LoginTitle {
  margin-bottom: 10px;
}

.Margin {
  margin: 8px;
}

.TextField {
  width: 40ch;
}

.BottomMargin {
  margin-bottom: 25px;
}
