.TriggerIcon {
  width: 29px;
  height: 29px;
}

.Warning {
  color: red;
}

.CalendarLeft {
  width: 50%;
  display: inline-block;
  padding-right: 4px;
}

.CalendarRight {
  padding-left: 4px;
  width: 50%;
  display: inline-block;
}
