.Container {
  width: 100%;
  height: 100vh;
  background-color: #f9f7f4;
}

.Organization {
  display: flex;
  align-items: center;
  flex-direction: column;
  vertical-align: middle;
}

.GlificLogo {
  margin-top: 32px;
  width: 99px;
  margin-bottom: 36px;
}

.Title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.056;
  color: #073f24;
  width: 331px;
  height: auto;
  text-align: center;
}

.subtitle {
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #073f24;
  height: 40px;
  width: 331px;
  text-align: center;
}
.links {
  margin-top: 36px;
  color: #119656;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.125;
}

.links li a {
  text-decoration: underline;
  color: #119656;
  width: 308px;
}
.continueButton {
  margin-top: 20px;
  width: 331px;
  height: 40px;
  background-color: #119656;
  color: white;
}
.redirectLinkIcon {
  color: #119656;
  height: 16px;
}
