.MyAccountBody {
  width: 100%;
  height: calc(100% - 110px);
  overflow-y: auto;
}

.MyAccount {
  width: 500px;
  padding: 12px 32px;
  padding-bottom: 40px;
}

.Title {
  margin-left: 24px !important;
  margin-top: 30px !important;
  vertical-align: middle;
  font-weight: 500 !important;
  color: #073f24;
}

.FormTitle {
  margin-top: 30px;
  vertical-align: middle;
  font-weight: 500;
  color: #073f24;
}

.FirstFormTitle {
  margin-top: 10px;
}

.Icon {
  background-color: #eaedec !important;
  margin-right: 10px !important;
}

.Form {
  padding: 10px 24px;
}

.HelperText {
  padding-top: 10px;
  color: #93a29b !important;
  font-size: 14px !important;
}

.FieldLabel {
  margin-top: 24px;
  vertical-align: middle;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #555555;
  padding-bottom: 14px;
}

.UserField {
  padding: 0px 20px;
}

.Buttons {
  display: flex;
  margin-top: 16px;
}

.Buttons > :not(:last-child) {
  margin-right: 16px;
}

.ChangePasswordField {
  margin-bottom: 20px;
}

.FormTitle + .ChangePasswordField .FieldLabel {
  margin-top: 10px;
}

.ChangePasswordField + .FormTitle {
  margin-top: 30px;
}
