.Timer {
  font-size: 12px;
  font-weight: 700;
  color: #555;
  border-radius: 11px;
  background: #ecf7f1;
  width: 42px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7px 10px;
}

.TimerNormal {
  composes: Timer;
}

.TimerApproachEnd {
  composes: Timer;
  color: #dd1f1f !important;
  background: #f7ecec !important;
}

.TimerEnd {
  margin-left: 3px;
  composes: Timer;
  color: #555;
}

.TimerNormalTooltip {
  color: #7200a1 !important;
  border: 2px solid #7200a1;
}

.TooltipArrow {
  color: inherit !important;
}

.TimerApproachTooltip {
  color: #dd1f1f !important;
  border: 2px solid #dd1f1f;
}

.TimerEndTooltip {
  color: #93a29b !important;
  border: 2px solid #93a29b;
}

.Tooltip {
  background-color: #ffffff !important;
  width: 121px;
  border-radius: 5px;
}
