.Timer {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}

.TimerNormal {
  composes: Timer;
  color: #7200a1;
}

.TimerApproachEnd {
  composes: Timer;
  color: #dd1f1f;
}

.TimerEnd {
  margin-left: 3px;
  composes: Timer;
  color: #93a29b;
}

.TimerNormalTooltip {
  color: #7200a1 !important;
  border: 2px solid #7200a1;
}

.TooltipArrow {
  color: inherit !important;
}

.TimerApproachTooltip {
  color: #dd1f1f !important;
  border: 2px solid #dd1f1f;
}

.TimerEndTooltip {
  color: #93a29b !important;
  border: 2px solid #93a29b;
}

.Tooltip {
  background-color: #ffffff !important;
  width: 121px;
  border-radius: 5px;
}
