.Container {
  width: 100%;
  height: 100vh;
}

.CenterRegistrationAuth {
  display: flex;
  align-items: center;
  flex-direction: column;
  vertical-align: middle;
}

.RegistrationAuthTitle {
  margin-bottom: 10px;
  margin-left: 32px;
  color: white;
  font-weight: bold;
  display: flex;
  align-self: start;
}

.BottomMargin {
  margin-bottom: 15px;
}

.Box {
  margin-top: 10vh;
  height: 320px;
  width: 400px;
  background-color: #073f24;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.GlificLogo {
  font-family: 'Tenor Sans';
  color: #0d6b3d;
  font-size: 36px;
  margin-top: 5vh;
}

.InputField {
  border-color: #93a29b !important;
  border-radius: 12px !important;
  border-width: 2px !important;
  line-height: 32px;
  width: 340px;
}

.Input {
  color: #93a29b !important;
}

.FormLabel {
  color: #93a29b !important;
}

.IconButton {
  color: #119656;
}

.FormHelperText {
  color: #93a29b !important;
  margin-top: 4px !important;
  line-height: 1.5;
  margin-left: 1px !important;
}

.InvalidFormHelperText {
  color: red !important;
  margin-top: 4px !important;
  line-height: 1.5;
  margin-left: 1px !important;
}

.ContinueButton {
  width: 330px;
  border-radius: 27px;
  margin-top: 0px;
}

.TitleText {
  font-weight: bold !important;
  margin-bottom: 10px !important;
}

.BoxTitle {
  color: white;
  justify-content: start;
  margin-bottom: 10px;
  margin-top: 32px;
  margin-left: 32px;
  font-weight: bold;
}

.Resend {
  color: #119656;
  font-weight: bold;
  font-size: 14px;
}

.Form {
  border: 2px solid #93a29b !important;
  border-radius: 12px !important;
  width: 334px;
  line-height: 40px;
  padding-left: 10px;
  font-family: 'Heebo';
  font-size: 16px;
  font-weight: 500;
  color: #073f24;
}

.CenterForm {
  display: flex;
  flex-direction: column;
}

.Button {
  color: white;
  background-color: #119656;
  border: 2px solid #119656;
  border-radius: 27px;
  height: 40px;
  margin-top: 20px;
}

.Button:hover {
  cursor: pointer;
}

.ButtonText {
  font-weight: 500;
  font-family: 'Heebo';
  font-size: 16px;
}
