.MainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  width: 100% !important;
  background-color: #f8faf5;
  padding: 1rem;
  color: #000;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  background-color: #fff;
  border-radius: 15px;
  padding: 1.5rem 2rem;
}

.Buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  width: 100%;
}

.Buttons button {
  border-radius: 8px;
  width: 30%;
}
