.MainContainer {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  width: 100% !important;
  height: calc(100% - 110px) !important;
  background-color: #f8faf5;
  padding: 1rem;
  color: #000;
}

.MainContainer h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.Container {
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 600px;
  background-color: #fff;
  border-radius: 15px;
  padding: 1.5rem 2rem;
  overflow-y: scroll;

  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-scrollbar: none;
}

.Buttons button {
  border-radius: 8px;
  width: 30%;
}
