.Item {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #cccccc;
  border: 1px solid #eeeeee;
  padding: 10px;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .Item {
    width: 500px;
  }
}

.Input {
  display: flex;
  padding: 8px;
}

.Label {
  width: 50%;
  align-self: center;
  font-weight: bold;
}

.ItemAdd {
  width: fit-content;
}

.Form {
  padding: 16px 24px;
  width: 530px;
}

.Buttons {
  margin-top: 24px;
  display: flex;
  justify-content: flex-start;
}

.Buttons > :not(:last-child) {
  margin-right: 16px !important;
}

.Title {
  margin-left: 24px !important;
  margin-top: 16px !important;
  vertical-align: middle;
  font-weight: 500 !important;
  color: #073f24;
  text-transform: capitalize;
}

.FieldLabel {
  margin-left: 12px !important;
  margin-top: 16px !important;
  vertical-align: middle;
  font-weight: 500 !important;
  font-size: 20px !important;
  color: #073f24;
}

.Icon {
  background-color: #eaedec !important;
  margin-right: 10px !important;
}

.TagIcon {
  width: 29px;
  height: 29px;
}

.DeleteIcon {
  margin-right: 9px !important;
}
.DialogText {
  margin-top: 0px;
  text-align: center;
  color: #073f24;
  font-weight: 400;
  font-family: 'heebo', sans-serif;
}

.DeleteButton {
  margin-left: auto !important;
}

.CheckHeader {
  color: #073f24;
  font-weight: 800;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 20px;
}

.CheckBoxes {
  width: 455px;
  height: 200px;
  margin-left: 10px;
  margin-top: 8px;
  background-color: white;
  border-width: 2px;
  border-color: #eaedec;
  border-radius: 12px;
  padding: 15px;
}

.CheckBox {
  color: blue !important;
}

.Select {
  width: 450px;
  margin-left: 8px;
  margin-top: 8px;
}

.BackLink {
  font-weight: 800;
  font-size: 16px;
  margin: 24px;
  margin-top: 12px;
  margin-bottom: 0px;
}

.BackLink a {
  color: #93a29b;
  text-decoration: none;
}

.BackLink svg {
  margin-right: 6px;
}
