.Container {
  width: 100%;
  height: 100%;
}

.CenterRegistration {
  display: flex;
  align-items: center;
  flex-direction: column;
  vertical-align: middle;
}

.RegistrationTitle {
  margin-bottom: 10px;
}

.Errors {
  color: red;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 0px;
  font-size: 1px;
}

.Margin {
  margin: 8px;
}

.TextField {
  width: 40ch;
}

.BottomMargin {
  margin-bottom: 20px;
}

.ErrorText {
  font-size: 15px;
  margin: 0px;
}
