.DescriptionContainer {
  display: flex !important;
  align-items: center;
  padding: 20px 40px;
  border-radius: 24px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.Describe {
  max-width: 500px;
  display: flex;
}

.Description {
  font-size: 16px;
  margin-top: 0px;
  color: #93a29b;
  line-height: 1.25;
  margin-bottom: 13px;
}

.StaffDivider {
  width: 1px;
  height: 72px;
  background-color: #eaedec;
  line-height: 0.1em;
  border-radius: 12px;
}

.Assignees {
  display: flex;
  margin-top: 37px;
}

.UserList li {
  color: #8e8e8e;
  leading-trim: both;
  text-edge: cap;
  font-family: Heebo;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.UserList {
  list-style: none;
  padding-left: 32px;
}

.Title {
  font-weight: 500;
  margin: 0 10px 17px 0;
  padding: 0;
  color: #191c1a;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px; /* 100% */
}

.TitleAssign {
  color: #555;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  margin: 0;
  margin-left: 32px;
}

.CollectionInfo {
  position: absolute;
  left: 520px !important;
  top: 0px !important;
}
.CollectionInformation {
  margin-right: 30px;
}

.CollectionInformation > .InfoWrapper {
  display: contents !important;
}
