.DialogboxPaper {
  border-radius: 24px !important;
  margin-top: 66px !important;
  width: 395px !important;
}

.ScrollPaper {
  align-items: unset !important;
}
.Dialogbox {
  max-width: 459px;
  min-width: 459px;
  margin: 0 auto;
  height: unset !important;
}

.DialogActions {
  padding-left: 24px !important;
  padding-bottom: 24px !important;
}

.DialogTitle {
  color: #073f24;
  padding-top: 24px !important;
  text-align: center;
  padding-bottom: 8px !important;
}
