.DialogboxPaper {
  border-radius: 10px;
  margin: 0px !important;
  margin-top: 66px !important;
  width: 474px;
}

.ScrollPaper {
  align-items: unset !important;
}

.Dialogbox {
  margin: 0 auto;
  height: unset !important;
  max-height: 90% !important;
}

.DialogboxRoot {
  z-index: 1501 !important; /* greater than tooltip */
}

.Dialogbox Form {
  max-height: 500px;
}

.DialogActions {
  margin-left: auto;
  padding-right: 24px !important;
  padding-bottom: 24px !important;
}

.DialogActionsCenter {
  composes: DialogActions;
  justify-content: center !important;
}

.DialogTitle {
  padding: 32px 56px 32px 36px;
  white-space: pre-line;
  line-height: normal;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 8px !important;
}

.DialogTitle h2 {
  line-height: 1.1 !important;
}

.DialogTitleCenter {
  composes: DialogTitle;
  text-align: center;
}

.DialogTitleLeft {
  composes: DialogTitle;
  text-align: left;
}

.DialogContentCenter {
  padding: 20px 32px;

  font-weight: 500;
  text-align: center;
  word-break: break-word;
}

.DialogContentLeft {
  text-align: left;
  font-weight: 500;
  padding: 20px 32px;
  word-break: break-word;
}

.CloseIcon {
  position: absolute;
  right: 8px;
  top: 6px;
  color: #777;
}

.BackdropRoot {
  background-color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 768px) {
  .DialogboxPaper {
    min-width: 240px !important;
    max-width: 320px;
  }
  .Dialogbox {
    min-width: 310px;
  }
}
