.DialogboxPaper {
  border-radius: 24px !important;
  margin: 0px !important;
  margin-top: 66px !important;
  min-width: 395px !important;
}

.ScrollPaper {
  align-items: unset !important;
}

.Dialogbox {
  max-width: 80%;
  min-width: 459px;
  margin: 0 auto;
  height: unset !important;
  max-height: 90% !important;
}

.Dialogbox Form {
  max-height: 500px;
}

.DialogActions {
  padding-left: 24px !important;
  padding-bottom: 24px !important;
}

.DialogActionsCenter {
  composes: DialogActions;
  justify-content: center !important;
}

.DialogTitle {
  color: #073f24;
  padding-top: 24px !important;
  padding-bottom: 8px !important;
}

.DialogTitleCenter {
  composes: DialogTitle;
  text-align: center;
  max-width: 395px;
}

.DialogTitleLeft {
  composes: DialogTitle;
  text-align: left;
  max-width: 395px;
}

.DialogContentCenter {
  text-align: center;
  word-break: break-word;
}

.DialogContentLeft {
  text-align: left;
  word-break: break-word;
}

@media only screen and (max-width: 768px) {
  .DialogboxPaper {
    min-width: 240px !important;
    max-width: 320px;
  }
  .Dialogbox {
    min-width: 310px;
  }
}
