.DialogboxPaper {
  border-radius: 24px !important;
}

.Dialogbox {
  bottom: unset !important;
  top: 34px !important;
}

.DialogActions {
  padding-left: 24px !important;
  padding-bottom: 24px !important;
  justify-content: flex-start !important;
}

.DialogTitle {
  padding-bottom: 8px !important;
}
