.SearchBar {
  appearance: none;
  -moz-appearance: none;

  position: relative;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 9999px;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  cursor: pointer;
  outline: none;
  height: 36px;
  line-height: 36px;

  padding: 0 32px 0 28px;
  width: auto !important;
  min-width: 0 !important;
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 5%);
  transition: all 0.2s ease;

  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='10' width='10' xmlns='http://www.w3.org/2000/svg'><path d='M0 0 L5 5 L10 0'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 10px;
}

.SearchBar::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  display: inline-block;
  width: auto !important;
  min-width: 0 !important;
  max-width: 100%;
  height: 8px;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='10' width='10' xmlns='http://www.w3.org/2000/svg'><path d='M0 0 L5 5 L10 0'/></svg>");
  background-repeat: no-repeat;
  background-size: 8px;
}

.SearchBar:hover {
  border-color: #999999;
}

.SearchBar:focus {
  border-color: #666666;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
}

.Shortcode {
  width: 180px;
}

.Name {
  width: 27%;
  min-width: 200px;
}

.Pinned {
  width: 5%;
}

.Label {
  width: 15%;
}

.Actions {
  width: 15%;
  min-width: 200px;
  text-align: end;

  padding-right: -12px;
}

.LabelText {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  color: #073f24;
}

.TableText {
  margin-right: 23px;
  text-align: left;
  font-size: 16px;
  color: #93a29b;
  margin: 0;
}

.Sheets svg {
  margin-right: 8px;
}

.Webhook svg {
  margin-right: 8px;
}

.NameText {
  line-height: 20px;
  margin: 0;
  font-size: 17px !important;
  word-break: break-all;
  color: #191c1a !important;
  font-weight: 500;
}

.Keyword {
  font-size: 12px;
  color: #555555 !important;
}

.DateColumn {
  width: 19.5%;
  min-width: 120px;
}

.ImportIcon {
  cursor: pointer;
}

.LabelButton {
  width: fit-content;
  min-width: 80px;
  padding: 6px 12px;
  background: #f0f7f1;
  color: #555555;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

.Roles {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 12px;
  color: #93a29b !important;
}

.Filters {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.FilterLabel {
  color: #073f24 !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}
