.Form {
  border-color: #93a29b !important;
  border-radius: 12px !important;
  border-width: 2px !important;
  line-height: 32px;
  width: 335px;
}

.CenterForm {
  display: flex;
  flex-direction: column;
}
