.SubText {
  color: #93a29b;
  display: flex;
  align-content: start;
  font-weight: 500;
  font-family: 'Heebo';
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 24px;
}

.Form {
  border: 2px solid #93a29b !important;
  border-radius: 12px !important;
  width: 334px;
  line-height: 40px;
  padding-left: 10px;
  font-family: 'Heebo';
  font-size: 16px;
  font-weight: 500;
  color: #073f24;
}

.CenterForm {
  display: flex;
  flex-direction: column;
}

.Button {
  color: #119656;
  background-color: white;
  border: 2px solid #119656;
  border-radius: 27px;
  height: 40px;
  margin-top: 32px;
}

.Button:hover {
  cursor: pointer;
}

.ButtonText {
  font-weight: 500;
  font-family: 'Heebo';
  font-size: 16px;
}
