.CheckedIcon {
  height: 20px;
  width: 20px;
}

.RadioLabelWrapper {
  align-items: center;
  display: flex;
  padding-top: 24px;
}

.RadioLabelWrapper:last-child {
  margin-left: 32px;
}

.RadioLabelWrapper > label {
  margin: 0px;
  padding: 0px 12px;
  border-radius: 21px;
  min-height: 42px;
  border-color: #93a29b;
}

.RadioLabelWrapper > label > span {
  padding-left: 0px !important;
  color: #555555 !important;
  font-weight: 500 !important;
  font-size: 16px !important;
}

.RadioLabel > span {
  line-height: 1 !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  font-family: 'Heebo', sans-serif !important;
}

.SelectedLabel {
  border-color: #073f24 !important;
}

.GlobalButton {
  padding-bottom: 16px;
}

.TemplateFields {
  background: #f8faf5;
  border-radius: 10px;
  border: 1px solid #cccccc;
  padding: 16px 24px 8px 24px;
  margin-bottom: 25px;
  margin-top: 15px;
}

.Translation {
  background-color: #f7f0e5;
  padding: 6px 16px;
  border-radius: 10px;
  white-space: pre-line;
  color: #aa9677;
  margin-bottom: 8px;
}

.TemplateFieldsList {
  margin-top: 5px;
}

.FieldLabel {
  margin-top: 16px !important;
  vertical-align: middle;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 18px !important;
  color: #555555;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .RadioLabelWrapper:last-child {
    margin-left: 0px;
  }
  .RadioGroupDisplay {
    justify-content: space-between;
  }
}
