.Font {
  line-height: 1 !important;
  font-weight: 500 !important;
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  color: #93a29b;
}

.Section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Section:first-child {
  line-height: 1 !important;
  font-weight: 400 !important;
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  color: #073f24 !important;
}

.WrapperBackground {
  padding: 16px 24px 8px 24px;
  background: #f8faf5;
  border-radius: 10px;
  border: 1px solid #cccccc;
  margin-bottom: 25px;
}

.ListReplyWrapper {
  padding: 12px 0px;
}

.ListReplyItemWrapper {
  composes: Font;
  display: flex;
  align-items: center;
}

.ListReplyItemContent {
  width: 100%;
}

.TextFieldWrapper {
  padding-top: 8px;
}

.AddButton {
  line-height: 1 !important;
  font-weight: 500 !important;
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  text-transform: inherit !important;
}

.AddIcon {
  height: 16px;
  width: 16px;
}

.ActionButtons {
  padding-top: 16px;
}

.ActionButtons > button:first-child {
  margin-right: 36px;
}

.ListDeleteIcon {
  cursor: pointer;
}

.Translation {
  background-color: #f7f0e5;
  padding: 6px 16px;
  border-radius: 10px;
  white-space: pre-line;
  color: #aa9677;
  margin-bottom: 8px;
}

.HelperText {
  margin-left: 12px;
}

.TextField {
  background-color: white;
  border-radius: 12px;
}

.Heading {
  font-weight: 500;
  font-size: 16px;
  font-weight: 18px;
}
