.WrapperBackground {
  display: flex;
}

.WrapperBackground > div > div {
  margin-bottom: 16px !important;
}

.Font {
  line-height: 1 !important;
  font-weight: 500 !important;
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  color: #93a29b;
}

.QuickReplyWrapper {
  composes: Font;
  display: flex;
  align-items: center;
  width: 90%;
}

.QuickReplyWrapper > div {
  margin: 0px 0 17px 0;
  cursor: pointer;
}

.FormControl {
  margin-bottom: 17px;
}

.FormControl > p {
  margin-left: 12px;
}

.TextField {
  width: 100%;
  background-color: white;
  border-radius: 12px;
}

.TextField > div > input {
  padding: 14.5px ​14px !important;
}

.AddButton {
  line-height: 1 !important;
  font-weight: 500 !important;
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  text-transform: inherit !important;
  margin-top: 15px;
  margin-left: 12px;
}

.AddIcon {
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.RemoveIcon {
  cursor: pointer;
}

.Translation {
  background-color: #f7f0e5;
  padding: 6px 16px;
  border-radius: 10px;
  white-space: pre-line;
  color: #aa9677;
  margin-bottom: 8px;
}

.Heading {
  color: #555555;
  font-size: 16px;
  font-weight: 500;
  margin: 5px 0 10px 0;
}
