.TemplateIcon {
  width: 29px;
  height: 29px;
}

.HsmUpdates {
  position: fixed !important;
  bottom: 6px;
  left: 260px;
  z-index: 1000;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;
}
