.TemplateIcon {
  width: 29px;
  height: 29px;
}

.HsmUpdates {
  margin-left: 8px;
  font-weight: 500;
  cursor: pointer;
  height: 36px;
  border: 1px solid #cccccc;
  background: #ffffff;
  box-shadow: none;
  font-size: 14px;
  color: #2ea36a;
}
