.Item {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #cccccc;
  border: 1px solid #eeeeee;
  padding: 10px;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .Item {
    width: 500px;
  }
}

.ButtonsCenter {
  justify-content: center !important;
}

.Input {
  display: flex;
  padding: 8px;
}

.Label {
  width: 50%;
  align-self: center;
  font-weight: bold;
}

.ItemAdd {
  width: fit-content;
}

.Form {
  padding: 16px 16px;
  width: 500px;
}

.Buttons {
  margin-top: 24px;
  margin-left: 8px;
  display: flex;
  justify-content: flex-start;
}

.Buttons > :not(:last-child) {
  margin-right: 16px !important;
}

.Title {
  margin-left: 24px !important;
  margin-top: 16px !important;
  vertical-align: middle;
  font-weight: 500 !important;
  color: #073f24;
}

.Icon {
  background-color: #eaedec !important;
  margin-right: 10px !important;
}

.TagIcon {
  width: 29px;
  height: 29px;
}

.DeleteIcon {
  margin-right: 9px !important;
}
.DialogText {
  margin-top: 0px;
  text-align: center;
  color: #073f24;
  font-weight: 400;
  font-family: 'heebo', sans-serif;
}

.DeleteButton {
  margin-left: auto !important;
}
