.Margin {
  margin: 4px;
}

.BottomMargin {
  margin-bottom: 20px;
}

.Errors {
  color: red;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 14px;
}

.InputField {
  border-color: #93a29b !important;
  border-radius: 12px !important;
  border-width: 2px !important;
  line-height: 32px;
  width: 340px;
}

.FormLabel {
  color: #93a29b !important;
}

.FormHelperText {
  color: red !important;
  margin-top: 2px !important;
  line-height: 1.2 !important;
}

.Form {
  border: 2px solid #93a29b !important;
  border-radius: 12px !important;
  width: 334px;
  line-height: 40px;
  padding-left: 10px;
  font-family: 'Heebo';
  font-size: 16px;
  font-weight: 500;
  color: #073f24;
  margin-bottom: 10px;
}

.Button {
  color: #119656;
  background-color: white;
  border: 2px solid #119656;
  border-radius: 27px;
  height: 40px;
  margin-top: 20px;
}

.Button:hover {
  cursor: pointer;
}

.ButtonText {
  font-weight: 500;
  font-family: 'Heebo';
  font-size: 16px;
}

.CenterForm {
  display: flex;
  flex-direction: column;
}

.ForgotPassword {
  font-size: 16px;
  color: #93a29b;
  font-weight: 500;
}
