.Margin {
  margin: 4px;
}

.BottomMargin {
  margin-bottom: 20px;
}

.Errors {
  color: red;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 14px;
}

.InputField {
  border-color: #93a29b !important;
  border-radius: 12px !important;
  border-width: 2px !important;
  line-height: 32px;
  width: 340px;
}

.FormLabel {
  color: #93a29b !important;
}

.FormHelperText {
  color: red !important;
  margin-top: 2px !important;
  line-height: 1.2 !important;
}
