.List {
  display: inline-block;
  width: 100%;
}

.ListItemIcon {
  min-width: 32px !important;
  padding-top: inherit;
}

.IconItem {
  border-radius: 12px !important;
  margin: auto;
}

.SelectedItem {
  background: #cce6d0 !important;
}

.SelectedItem:hover {
  background: #c3ebd8 !important;
}

.OpenItem {
  margin: 0px 8px;
  padding: 6px 16px;
}

.ClosedItem {
  width: unset !important;
  margin: 0px 10px !important;
}

.SelectedText {
  font-size: 13px;
  font-weight: 700;
  color: #073f24;
}

.UnselectedText {
  font-size: 13px;
  font-weight: 500;
  color: #717971;
}

.Divider {
  margin: 8px 0px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.Transition {
  animation: 0.1s ease-in 0s 1 slideInFromLeft;
}

.SubMenuTitle {
  padding-left: 24px;
  margin-top: 20px;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #073f24;
}
.SubMenuTitleOpen {
  composes: SubMenuTitle;
}

.SubMenuTitleClose {
  composes: SubMenuTitle;
  padding-left: 12px;
}
