.Button {
  background-color: white !important;
}

.Link {
  text-decoration: none;
  display: flex;
}

.HelpIcon {
  width: 28px !important;
  height: 28px;
  margin-right: 10px;
}

.Icon {
  margin-right: 8px;
}

.FlowContainer {
  position: relative;
  height: 100vh;
  overflow: auto;
}

.ButtonContainer {
  display: flex;
  position: fixed !important;
  align-items: center;
  bottom: 12px;
  right: 20px;
  z-index: 1000;
}

.DialogDescription {
  text-align: center;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #073f24;
}

.CrossIcon {
  margin-left: 15px;
  color: grey;
}

.ContainedButton {
  border: unset !important;
}

.Draft {
  margin-right: 110px !important;
  background-color: white !important;
}

.SimulatorDraft {
  margin-right: 147px !important;
  background-color: white !important;
}

.DialogError {
  text-align: center;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #dd1f1f;
}

.ErrorMsgIcon {
  margin-right: 10px;
  height: 16px;
}

.ExportIcon {
  width: 40px;
  display: flex;
  justify-content: center;
  margin-right: 15px;
  align-items: center;
  background-color: white;
  height: 40px;
  margin-left: 6px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #073f24;
}

.DialogContent {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
  color: #073f24;
}

.DialogTitle > h2 {
  font-size: 24px;
}

.PublishDialogTitle {
  max-width: none !important;
}

.Button {
  background-color: white !important;
}

.FlowLeftButtons {
  display: flex;
  position: fixed !important;
  bottom: 13px;
  left: 270px;
  z-index: 1000;
  font-weight: 500;
  align-items: center;
  cursor: pointer;
}

.FlowLeftButtonsClosedDrawer {
  composes: FlowLeftButtons;
  left: 90px;
}

.Header {
  position: absolute;
  width: 100%;
  z-index: 1000;
  height: 70px;
  display: flex;
  background-color: #f8faf5;
}

.Actions {
  position: relative;
  padding: 16px 40px;
  margin-left: auto;
}

.Title {
  display: flex;
  align-items: center;
  padding: 15px;
}

.BackIcon {
  cursor: pointer;
  margin-right: 8px;
}

.ErrorMsg {
  display: flex;
  padding-bottom: 2px;
  justify-content: center;
  align-items: center;
}
