.Button {
  position: fixed !important;
  bottom: 20px;
  right: 15px;
  z-index: 1000;
  border: 0px !important;
}

.Link {
  text-decoration: none;
}

.HelpIcon {
  position: fixed !important;
  bottom: 25px;
  right: 130px;
  z-index: 1000;
  width: 28px !important;
  height: 28px;
}

.AutomationName {
  position: absolute !important;
  top: 10px;
  left: 28px;
  z-index: 1000;
  color: #073f24;
  font-weight: 500;
  font-size: 20px;
}

:global(.Flow_empty_flow__roKNh) {
  margin-top: 0px !important;
  padding-top: 60px;
}

:global(#canvas-container) > div {
  padding-top: 80px;
}

.Icon {
  background-color: #eaedec !important;
  margin-right: 10px !important;
}

.FlowContainer {
  position: relative;
}
