.Button {
  background-color: white !important;
}

.Link {
  text-decoration: none;
  display: flex;
}

.HelpIcon {
  width: 28px !important;
  height: 28px;
  margin-right: 10px;
}

.FlowName {
  position: fixed !important;
  top: 16px;
  left: 270px;
  z-index: 1000;
  color: #073f24;
  font-weight: 500;
  font-size: 20px;
}

.FlowNameClosed {
  composes: FlowName;
  left: 90px;
}

:global(.Flow_empty_flow__roKNh) {
  margin-top: 0px !important;
  padding-top: 60px;
}

:global(#canvas-container) > div {
  padding-top: 80px;
}

.Icon {
  background-color: #eaedec !important;
  margin-right: 10px !important;
}

.FlowContainer {
  position: relative;
  height: 100vh;
  overflow: auto;
}

.ButtonContainer {
  display: flex;
  position: fixed !important;
  align-items: center;
  bottom: 12px;
  right: 20px;
  z-index: 1000;
}

.DialogDescription {
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  color: #073f24;
}

.CrossIcon {
  margin-left: 15px;
  color: grey;
}

.ContainedButton {
  border: unset !important;
}

.Draft {
  margin-right: 110px !important;
  background-color: white !important;
}

.SimulatorDraft {
  margin-right: 147px !important;
  background-color: white !important;
}

.DialogError {
  text-align: center;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #dd1f1f;
}

.ErrorMsgIcon {
  vertical-align: middle;
  height: 16px;
}

.ExportIcon {
  width: 40px;
  display: flex;
  justify-content: center;
  margin-right: 15px;
  align-items: center;
  background-color: white;
  height: 40px;
  margin-left: 6px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #073f24;
}

.DialogContent {
  max-width: 331px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
  color: #073f24;
}

.DialogTitle > h2 {
  font-size: 24px;
}

.PublishDialogTitle {
  max-width: none !important;
}

.ResetFlow {
  position: fixed !important;
  bottom: 13px;
  left: 270px;
  z-index: 1000;
  font-weight: 500;
  display: flex;
  align-items: center;
  background-color: white !important;
  cursor: pointer;
}

.ResetFlow svg {
  margin-right: 6px;
}

.ResetClosedDrawer {
  composes: ResetFlow;
  left: 90px;
}
