.FormContainer {
  padding: 3rem;
  height: 100%;
  position: relative;
}

.Form {
  height: 100%;
  overflow-y: scroll;
}

.Form::-webkit-scrollbar {
  display: none;
}

.Label {
  color: #555;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.FormFields {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-bottom: 5rem;
}

.Buttons {
  background-color: #fff;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
}

.DialogContent {
  max-width: auto;
  margin-top: 0px;
  text-align: center;
  color: #073f24;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.AssistantId {
  color: #119656;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.AssistantId div {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}

.HelperText {
  color: #999999;
  font-weight: normal;
}

.DeleteIcon {
  margin-right: 0.5rem;
}

.Expand {
  height: 100%;
  display: flex;
  align-items: end;
  max-height: none;
}

.ExpandButton {
  cursor: pointer;
}

.ExpandButton:hover {
  background-color: #00000017;
  border-radius: 0.5rem;
}

.InstructionsBox {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Instructions {
  background-color: #fff;
  width: 50%;
  padding: 1rem;
  border-radius: 1rem;
}

.Instructions h5 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
}

.Instructions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Input {
  width: 100%;
}

.InstructionButtons {
  width: 100%;
  display: flex;
  justify-content: end;
}

.NotFound {
  text-align: center;
  margin: 1rem 0;
}

.VersionInProgress {
  position: absolute;
  top: 1rem;
  right: 3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #e8f5e9;
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;
  color: #073f24;
  font-size: 0.875rem;
}
