.ID {
  color: #555;
  font-size: 13px;
  font-weight: 500;
  width: 14%;
  min-width: 200px;
}

.IdContainer {
  display: flex;
  align-items: flex-start;
  column-gap: 0.5rem;
}

.Actions {
  width: 15%;
  min-width: 200px;
  text-align: end;
  color: #555;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 6px;
}

.Label,
.Category {
  color: #555;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 6px;
  width: 40%;
  min-width: 200px;
}

.CopyIcon {
  color: #555;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.DialogBox {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
}

.DialogText {
  margin-top: 0px;
  text-align: center;
  font-size: 14px;
  color: #073f24;
}
