.SavedSearchesAutocomplete {
  width: 93%;
  padding: 0px;
  margin: auto;
  margin-top: 10.5px;
  margin-bottom: 12px;
}

.ChatConversations {
  font-family: 'heebo';
  padding: 0px 6px;
}

.CollectionListingContainer {
  height: 100%;
  overflow-y: auto;
  padding: 0px !important;
}

.ChatConversations {
  width: 100%;
  height: calc(100vh - 87px);
  padding-left: 10px;
  overflow-y: hidden;
  position: relative;
}

.SearchIcon {
  display: flex;
}

.SearchIcon img {
  margin-top: -3px;
  padding-right: 8px;
}
