.SavedSearchesAutocomplete {
  width: 93%;
  padding: 0px;
  margin: auto;
  margin-top: 10.5px;
  margin-bottom: 12px;
}

.ChatConversations {
  padding: 0px 6px;
}

.CollectionListingContainer {
  height: 100%;
  overflow-y: auto;
  padding: 0px !important;
}

.ChatConversations {
  width: 100%;
  height: calc(100vh - 79px);
  overflow-y: hidden;
  position: relative;
}

.SearchIcon {
  display: flex;
}

.SearchIcon img {
  margin-top: -3px;
  padding-right: 8px;
}

.Paper {
  box-shadow: unset !important;
  padding-left: 8px;
}

.Paper > ul > li[data-focus='true'] {
  background-color: #edf6f2 !important;
}

.Paper > ul > li {
  color: #073f24 !important;
  border-radius: 20px;
}

.Search {
  width: 1.7rem;
}
