.Shortcode {
  padding-left: 4%;
  width: 35%;
  min-width: 180px;
}

.Name {
  width: 40%;
  min-width: 291px;
}

.Actions {
  width: 25%;
  min-width: 150px;
  text-align: end;
}

.LabelText {
  word-break: break-all;
  padding: 0;
  margin: 0;
  font-size: 17px !important;
  word-break: break-all;
  color: #191c1a !important;
  font-weight: 500;
}

.TableText {
  font-size: 15px;
  color: #555555;
  white-space: pre-line;
  margin: 0;
  font-weight: 400;
}

.Icon {
  width: 29px;
  height: 29px;
}

.AddIcon {
  margin-right: 10px;
  height: 12px;
  width: 12px;
}
