.ContactBar {
  padding: 16px 32px !important;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  min-height: 85px !important;
}

.ContactInfoContainer {
  display: flex;
  width: 100%;
  align-items: flex-end;
}

.Chat {
  padding: 12px !important;
  padding-right: 40px !important;
  padding-left: 8px !important ;
  display: none;
  align-items: center;
  margin-left: auto;
  background-color: white;
  border-radius: 0 0 0 12px;
}

.Chat svg {
  height: 22px;
  width: 25px;
}

.TitleText {
  color: #073f24;
  font-size: 24px;
  font-weight: 500;
}

.MobileIcon {
  background-color: #eaedec !important;
  margin-right: 10px !important;
}

.IconBackground {
  background-color: #eaedec;
  border-radius: 50%;
  display: flex;
}

.ContactName {
  line-height: 56px;
}

.Container {
  margin-left: auto;
  text-align: right;
}

.Title {
  font-size: 20px !important;
  color: #073f24;
}

.Configure {
  cursor: pointer;
  margin-right: 8px;
  margin-top: 4px;
}

.Popper {
  z-index: 1500;
}

.Popper button {
  padding: 5px 30px 5px 10px !important;
  text-transform: none !important;
}

.Popper > div:first-child {
  padding-top: 10px !important;
}

.Popper > div:last-child {
  padding-bottom: 10px !important;
}

.ListButton {
  width: 100% !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  justify-content: flex-start !important;
}

.ListButton:hover {
  background-color: #edf6f2 !important;
}

.ListButton:disabled {
  color: #93a29b !important;
  pointer-events: auto !important;
}

.Link {
  text-decoration: none;
}

.Icon {
  margin-right: 16px;
  margin-left: 6px;
}

.ListButtonPrimary {
  composes: ListButton;
  color: #073f24 !important;
}
.ListButtonDanger {
  composes: ListButton;
}

.ListButtonDanger:hover {
  background-color: #ffebee !important;
}

.Container {
  margin-top: 6px;
  width: 270px;
}

.ContactCollections {
  flex-direction: row;
}

.CollectionHeading {
  font-weight: 500;
  line-height: 1;
  color: #cacaca;
  font-size: 12px;
}

.CollectionsName {
  composes: CollectionHeading;
  margin-left: 6px;
  color: #93a29b;
}

.ContactDetails {
  display: flex;
  align-items: center;
}

.SessionTimerContainer {
  margin-left: auto;
  width: 50%;
}

.SessionTimer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.SessionTimer + div {
  text-align: right;
}

.SessionTimer span {
  font-size: 10px;

  text-align: right;
  line-height: 1;
  color: #cacaca;
  margin-right: 6px;
}

.DialogText {
  max-width: 347px;
  margin-top: 0px;
  text-align: center;
  font-size: 14px;
  color: #073f24;
  text-align: justify;
}

.ContactInfoWrapper {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.ContactBarWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .ContactBar {
    border-bottom: unset;
    padding: 0px !important;
    flex-direction: column;
  }

  .ContactDetails {
    padding: 12px !important;
    padding-bottom: 0px !important;
  }

  .SessionTimerContainer {
    display: none;
  }

  .Chat {
    display: flex !important;
    padding: 12px !important;
  }

  .ContactCollections {
    padding-left: 12px;
  }

  .ContactBarWrapper {
    display: block;
    justify-content: space-between;
    width: 100%;
  }

  .MobileIcon {
    background-color: #eaedec !important;
    margin-right: 0px !important;
  }
}
