.TagIcon {
  width: 29px;
  height: 29px;
}

.FilledTagIcon {
  margin-right: 7px;
  align-self: center;
}

.LabelText {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #073f24;
  line-height: 1;
}

.TableText {
  margin-right: 23px;
  text-align: left;
  padding: 12px 0px;
  font-size: 16px;
  color: #93a29b;
  line-height: 1.25;
  margin: 0;
}

.LabelContainer {
  display: flex;
  height: fit-content;
  align-items: baseline;
  align-content: center;
}

.Label {
  width: 20%;
  min-width: 140px;
}

.Description {
  width: 30%;
  min-width: 170px;
}

.Keywords {
  width: 25%;
}

.LastModified {
  padding-top: 12px;
  color: #93a29b;
}

.Actions {
  width: 10%;
  min-width: 120px;
  justify-content: flex-end;
  margin-left: auto;
}

.LastModifiedColumn {
  width: 15%;
  min-width: 100px;
}
