.TagIcon {
  width: 29px;
  height: 29px;
}

.FilledTagIcon {
  margin-right: 7px;
  align-self: center;
}

.LabelText {
  font-family: 'heebo', sans-serif;
  display: flex;
  font-weight: 500;
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #073f24;
  line-height: 1;
}

.TableText {
  margin-right: 23px;
  text-align: left;
  padding: 12px 0px;
  font-size: 16px;
  color: #93a29b;
  line-height: 1.25;
  margin: 0;
}

.LabelContainer {
  display: flex;
  height: fit-content;
  align-items: baseline;
  align-content: center;
}

.Label {
  width: 200px;
}

.Description {
  width: 280px;
}

.Keywords {
  width: 375px;
}

.Actions {
  width: 100px;
  justify-content: flex-end;
  margin-left: auto;
}
