@media only screen and (max-width: 768px) {
  .JumpToLatest {
    display: none !important;
  }
}

.ChatMessages {
  display: flex;
  padding-left: 0px !important;
  flex-flow: column;
  background-color: #f8faf5;
  position: relative;
  height: 100vh;
}

.DialogBox {
  padding-bottom: 16px;
  min-width: 300px;
}

.MessageList {
  padding-top: 11.5px !important;
  overflow-y: auto;
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: calc(100% - 175px);
}

.NoMessages {
  padding-top: 11.5px !important;
  padding-left: 24px !important;
  height: calc(100% - 175px);
}

.Chip {
  margin-right: 8px !important;
  margin-bottom: 8px !important;
  color: #073f24 !important;
  font-size: 16px !important;
  background-color: #eaedec !important;
  padding-right: 3px !important;
}
.Form {
  height: 18vh !important;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  position: relative !important;
  overflow: auto !important;
}

.InputBorder {
  border-radius: 12px !important;
  border-width: 2px !important;
}

.DeleteIcon {
  width: 8px !important;
  margin-right: 13px !important;
}
.Paper > ul > li:hover {
  background-color: #edf6f2 !important;
}

.Paper > ul > li {
  color: #073f24;
}

.LoadMore {
  display: flex;
  margin-top: -11.5px;
  z-index: 1;
  position: relative;
}

.LoadMoreButton {
  font-size: 0.875rem;
  margin-bottom: 10px !important;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 500;
  background-color: #073f24;
  padding: 5px 8px;
  color: #edf6f2;
  border-radius: 0 0 12px 12px;
}

.Loading {
  margin: 0 auto;
}

.JumpToLatest {
  font-size: 0.875rem;
  cursor: pointer;
  position: relative;
  display: flex;
  font-weight: 500;
  line-height: 1;
  align-items: center;
  margin: 0 auto;
  background-color: #073f24;
  padding: 3px 8px;
  color: #edf6f2;
  border-radius: 12px 12px 0 0;
  z-index: 100;
  margin-top: -3px;
  width: fit-content;
}

html {
  scroll-behavior: smooth;
}
