.ChatMessages {
  display: flex;
  flex-flow: column;
  height: 85vh;
  background-color: #f9f7f4;
}

.MessageList {
  display: block;
  flex: 2;
  overflow-y: overlay;
  padding: 0 15px;
  height: calc(100% - 124px);
}
