.ChatMessages {
  display: flex;
  padding-left: 0px !important;
  flex-flow: column;
  height: 100vh;
  background-color: #f9f7f4;
}

.DialogBox {
  width: 395px;
}

.MessageList {
  display: block;
  flex: 2;
  padding-top: 11.5px !important;
  overflow-y: auto;
  padding-left: 0px !important;
  padding-right: 16px !important;
  height: calc(100% - 175px);
}

.Search {
  width: 318px;
  height: 100%;
  padding: 0 10px;
  background: #ffffff;
  transition: all 0.35s ease;
  border-radius: 10px;
}

.SearchBar {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  width: 350px;
  padding: 0px;
  transition: all 0.35s ease;
}

.Chip {
  margin-right: 8px !important;
  margin-bottom: 8px !important;
  background-color: #e7f9f1 !important;
}
.Form {
  height: 18vh !important;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  position: relative !important;
  overflow: auto !important;
}

.SelectIcon {
  width: 12px !important;
}
