.ListReplyContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.GlobalButton {
  width: 100%;
  background-color: #eaedec !important;
  margin: 6px 0px !important;
}

.SimulatorButton {
  composes: GlobalButton;
  font-size: 12.5px !important;
}

.List {
  height: calc(100% - 60px);
  overflow-y: auto;
}
.ListItemChat {
  padding: 0 !important;
  font-size: 16px !important;
  color: #93a29b !important;
  width: 100%;
}

.ListItemChat > span {
  justify-content: space-between;
  text-transform: none !important;
  font-weight: 400 !important;
  text-align: left;
}

.ListItemChat > span > div > :last-child {
  font-size: 12px;
}

.ListItem {
  font-size: 11px !important;
  width: 100%;
  font-weight: 300 !important;
  text-transform: none !important;
}

.ListItem > span {
  justify-content: space-between;
}

.ListItem > span > div {
  text-align: left;
  color: #073f24;
}

.ListItem > span > div > :last-child {
  font-size: 9px !important;
  text-align: left;
  color: #073f24;
}

.Drawer {
  background: white;
  z-index: 100;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 8px;
  height: 360px;
  border-radius: 12px 12px 0px 0px;
}

.DrawerHeading {
  display: flex;
  justify-content: center;
  color: #073f24;
}

.DrawerHeading > h3 {
  margin: 0px !important;
}

.DrawerCloseIcon {
  position: absolute;
  left: 10px;
  cursor: pointer;
}

.SendButton {
  padding: 4px 0px;
}

.SendButton > button {
  width: 100%;
}
.SendButton > span {
  justify-content: center;
}

.ChatTemplateBody {
  max-width: 100%;
  border-radius: 12px;
  font-family: 'Heebo', sans-serif, emoji;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  clear: both;
  max-width: 404px;
  min-width: 85px;
  padding: 10px 16px;
  background: white;
}

.ChatTemplateBody > p:nth-of-type(1) {
  margin-top: 4px;
  font-weight: 500;
}

.ChatTemplateBody > p:nth-of-type(2) {
  margin-top: 4px;
}

.ChatTemplateButton {
  margin-top: 8px;
}

.ChatTemplateButton > button {
  color: #119656 !important;
  border-radius: 12px;
  padding: 11px 16px;
}

.ChatTemplateButton > button:disabled {
  background: #eaedec !important;
}

.SimulatorContent {
  background: white;
  padding: 8px 10px;
}

.ListHeader {
  font-weight: 500;
}

.ListItemTitle {
  color: #073f24;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}

.ListItemContainer {
  margin-bottom: 10px;
}

.DialogContent {
  width: 370px;
}

.SectionTitle {
  color: #073f24;
  font-size: 14px;
  font-weight: 400;
  padding: 4px 8px;
  background-color: #edf6f2;
}

.Options > button:hover {
  background-color: #edf6f2;
}
