.Chat {
  width: 100%;
  height: 100vh;
  display: flex;
}

.ChatMessages {
  width: 70%;
}

.ChatConversations {
  max-width: 339px !important;
  min-width: 235px !important;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}
