.Chat {
  width: 100%;
  height: 100vh;
  display: flex;
}

.ChatMessages {
  width: 100%;
}

.ChatConversations {
  width: 339px !important;
  min-width: 339px !important;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

@media only screen and (max-width: 600px) {
  .ChatConversations {
    display: none !important;
  }
}
.NoConversations {
  padding: 76px;
}
