.Title {
  margin-left: 36px !important;
  margin-top: 16px !important;
  vertical-align: middle;
  font-weight: 500 !important;
  color: #073f24;
}

.Subtext {
  margin-left: 36px !important;
  vertical-align: middle;
  color: #afbbb6;
}

.SearchIcon {
  height: 29px;
  width: 29px;
}

.Search > div:nth-of-type(10),
div:nth-of-type(11) {
  display: inline-block;
  width: 49% !important;
  margin: 0px 2px;
}
