.Title {
  margin-left: 36px;
  margin-top: 16px;
  vertical-align: middle;
  font-weight: 500;
  color: #073f24;
}

.Subtext {
  margin-left: 36px;
  vertical-align: middle;
  color: #afbbb6;
}

.SearchIcon {
  height: 29px;
  width: 29px;
}

.Form > h5:nth-of-type(7) {
  display: inline-block;
  margin-right: 173px;
  margin-top: 24px;
  margin-bottom: 15px;
}

.Form > div:nth-of-type(7) {
  display: inline;
}

.Form > div:nth-of-type(7) {
  font-weight: 400;
}

.Form > div:nth-of-type(8) {
  display: inline-block;
  margin-right: 16px;
  width: 48%;
  padding: 0px;
}
.Form > div:nth-of-type(9) {
  display: inline-block;
  width: 48%;
  padding: 0px;
}

.DateRangeLabel {
  width: fit-content;
}

.DialogTitleText {
  color: #93a29b;
}

.DialogContent {
  white-space: pre-line;
  max-width: 347px;
  font-size: 14px;
  color: #073f24;
}

.FormSearch > div:nth-of-type(5) {
  margin-right: 18px;
}
