.organization {
  width: 100% !important;
}

.organization > div:nth-child(n + 2) {
  display: inline-block;
  width: 48%;
  vertical-align: top;
  margin-right: 2% !important;
  margin: 0 0 10px 0;
}

.organization > div:first-child {
  display: inline-block !important;
  width: 48% !important;
  margin-right: 2% !important;
}

.organization > div:nth-of-type(5) {
  display: block;
  margin-bottom: 24px;
}

.organization > div:nth-of-type(n + 10) {
  display: block;
  margin: 0px;
}

.organization > div:nth-of-type(12),
.organization > div:nth-of-type(13) {
  display: inline-block;
  width: 25% !important;
  margin: 0% !important;
}

.organization > div:last-child {
  margin: 36px 0 0 0;
}

.CheckboxLabel {
  font-size: 20px;
  font-weight: 800;
  color: '#073f24';
  line-height: 1;
}

.AddDayLabel {
  font-size: 16px;
}

@media (max-width:768px) {
  .organization > div:nth-child(n + 2), .organization > div:first-child {
    width: 100% !important;
  }
}
