.organization {
  width: 100% !important;
}

.organization > div:nth-child(n + 2) {
  display: inline-block;
  width: 48%;
  vertical-align: top;
  margin-right: 2% !important;
  margin: 0 0 10px 0;
}

.organization > div:first-child {
  display: inline-block !important;
  width: 48% !important;
  margin-right: 2% !important;
}
.organization > div:nth-of-type(6) {
  margin: 32px 0 0 0 !important;
}
.organization > div:nth-of-type(n + 6) {
  display: block;
}

.organization > div:nth-of-type(9),
.organization > div:nth-of-type(10) {
  display: inline-block;
  width: 25% !important;
  margin: 0% !important;
}

.organization > div:last-child {
  margin: 36px 0 0 0;
}

.CheckboxLabel {
  font-size: 20px;
  font-weight: 800;
  color: '#073f24';
  line-height: 1;
}
