.PhoneNumber {
  width: 340px !important;
  padding-top: 18.5px !important;
  padding-bottom: 18.5px !important;
  padding-left: 50px !important;
  padding-right: 14px !important;
  border-color: #93a29b !important;
  border-radius: 12px !important;
  border-width: 2px !important;
  background: inherit !important;
}

.FormHelperText {
  color: red !important;
  margin-top: 2px !important;
  margin-left: 14px !important;
  line-height: 1.2 !important;
}
