.PhoneNumber {
  width: 334px !important;
  padding-top: 13px !important;
  padding-bottom: 13px !important;
  padding-left: 48px !important;
  padding-right: 14px !important;
  border-radius: 12px !important;
  border-width: 2px !important;
  background: inherit !important;
  border-color: #93a29b !important;
}

.PhoneNumber:focus {
  border-color: #119656 !important;
  box-shadow: none !important;
}

.FormHelperText {
  color: #f44336 !important;
  margin-top: 3px !important;
  line-height: 1.2 !important;
  margin-left: 16px !important;
}
