.DialogContent {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  min-height: 80px;
  margin-bottom: 20px;
  width: 410px;
}

.DialogContent > div:nth-child(1) {
  width: 90%;
}

.DialogContent > div:nth-child(2) {
  width: 90%;
}

.CrossIcon {
  cursor: pointer;
  display: flex;
  height: 70px;
  align-items: center;
  margin-left: 10px;
}

.FormHelperText {
  color: #ff0000;
  padding-top: 4px;
  font-weight: 500;
  width: 90%;
  line-height: 1.3;
}
.FormHelperText ol {
  padding-left: 16px;
}

.FormError {
  margin-left: 12px;
  color: #f44336;
  font-size: 0.75rem;
  text-align: left;
  font-weight: 400;
  line-height: 1.66;
  width: 45%;
}

.Upload input,
.UploadDisabled input {
  display: none;
}

.Uploaded {
  border: 2px solid #073f24 !important;
}
.Uploaded span {
  color: #073f24;
}

.UploadEnabled span {
  padding-left: 32px;
  display: flex;
  align-items: center;
}

.UploadCrossIcon {
  margin-left: 12px;
}

.AlertIcon {
  margin: 0px 16px;
}

.Upload {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 200px;
  border: 2px solid #93a29b;
  border-radius: 27px;
  padding: 6px 0px;
  cursor: pointer;
  color: #93a29b;
  font-weight: 500;
  font-size: 16px;
}

.UploadEnabled {
  composes: Upload;
}

.UploadDisabled {
  composes: Upload;
  cursor: not-allowed;
}

.UploadIcon {
  margin-right: 10px;
}

.WaitUpload {
  font-size: 14px;
  margin-left: 16px;
}

@media only screen and (max-width: 768px) {
  .DialogContent {
    width: 280px !important;
  }
}
