.DialogContent {
  display: flex;
  flex: auto;
  min-height: 80px;
  margin-bottom: 20px;
  width: 410px;
}

.DialogContent > div:nth-child(1) {
  margin-right: 10px;
  width: 40%;
}

.DialogContent > div:nth-child(2) {
  width: 60%;
}

.CrossIcon {
  cursor: pointer;
  display: flex;
  height: 70px;
  align-items: center;
  margin-left: 10px;
}
