.Label {
  width: 35%;
  min-width: 200px;
}

.Description {
  width: 180px;
}

.Actions {
  justify-content: flex-end;
  text-align: end;
  margin-left: auto;
  min-width: 200px;
}

.LabelText {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  color: #073f24;
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 1;
}

.TableText {
  margin-right: 23px;
  text-align: left;
  padding: 12px 0px;
  font-size: 16px;
  color: #93a29b;
  line-height: 1.25;
  margin: 0;
}

.RoleIcon {
  width: 29px;
  height: 29px;
  color: #073f24 !important;
}
