.Container {
  padding-left: 40px;
  margin-top: 36px;
}

.Instructions {
  max-width: 500px;
  color: #93a29b;
  font-size: 16px;
}

.Link {
  color: #119656;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.UploadContainer {
  margin-top: 24px;
  margin-bottom: 36px;
}
.Upload input,
.UploadDisabled input {
  display: none;
}

.Uploaded {
  cursor: unset;
  border: 2px solid #073f24 !important;
}
.Uploaded span {
  color: #073f24;
}

.UploadEnabled span {
  display: flex;
  align-items: center;
}

.UploadCrossIcon {
  margin-left: 12px;
}

.Upload {
  display: flex;
  align-items: center;
  position: relative;
  width: 200px;
  border: 2px solid #93a29b;
  border-radius: 27px;
  padding: 6px 0px;
  cursor: pointer;
  color: #93a29b;
  background-color: #fff;
  font-weight: 500;
  font-size: 16px;
  justify-content: center;
}

.UploadEnabled {
  composes: Upload;
}

.UploadDisabled {
  composes: Upload;
  cursor: not-allowed;
}

.FileIcon {
  margin-right: 10px;
}

.WaitUpload {
  font-size: 14px;
  margin-left: 16px;
}

.Fields {
  margin-bottom: 16px;
}

.Sample a {
  margin-left: 50px;
  text-transform: uppercase;
  text-decoration: none;
  color: #119656;
  font-weight: 500;
  font-size: 10px;
  border-bottom: #119656 solid 1px;
  border-bottom-style: dashed;
}

.Sample {
  margin-bottom: 16px;
}

.Error {
  font-weight: 500;
  margin-top: 4px;
  color: #dd1f1f;
}

.CrossIcon {
  position: absolute;
  right: 12px;
}
