.Container {
  padding: 1rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid #119656;
  border-style: dashed;
  width: 100%;
}

.FormError {
  color: #f44336;
  font-size: 0.75rem;
  text-align: left;
  font-weight: 400;
  margin: 0;
  padding: 0 8px;
}

.Container input {
  display: none;
}

.Container span {
  margin-bottom: 8px;
}

.Container div {
  padding-top: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 0.8rem;
}

.HelperText {
  margin: 0px;
  padding: 0px;
  color: #93a29b;
  line-height: 1.5;
  font-size: 12px;
  margin-top: 7px;
  padding: 0 8px;
}

.WaitUpload {
  font-size: 14px;
  margin-left: 16px;
}

.FormField {
  margin-top: 24px;
  vertical-align: middle;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #555555;
  padding-bottom: 14px;
}

.Loading {
  text-align: center;
}

.Form {
  width: 100%;
}
