.SearchBar {
  border-radius: 24px;
  border: 1px solid #cccccc;
  display: flex;
  margin-right: 8px;
  height: 36px !important;
  background: #ffffff;
  min-height: 36px !important;
}

.SearchBar > fieldset {
  border: none !important;
}
.Shortcode {
  width: 180px;
}

.Name {
  width: 27%;
  min-width: 200px;
}

.Pinned {
  width: 5%;
}

.Label {
  width: 14%;
}

.Actions {
  width: 15%;
  min-width: 200px;
  text-align: end;
}

.LabelText {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  color: #073f24;
}

.TableText {
  margin-right: 23px;
  text-align: left;
  font-size: 16px;
  color: #93a29b;
  margin: 0;
}

.FlowIcon {
  width: 29px;
  height: 29px;
}

.LastPublished {
  font-size: 15px;
  line-height: 20px;
  color: #555555;
  white-space: pre-line;
  margin: 0;
  font-weight: 400;
}

.Links {
  color: #119656;
  position: fixed;
  bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.Webhook {
  composes: Links;
  left: 262px;
}

.ContactFields {
  composes: Links;
  left: 420px;
}

.Sheets {
  composes: Links;
  display: flex;
  left: 600px;
}

.Sheets svg {
  margin-right: 8px;
}

.ContactFields svg {
  margin-right: 8px;
  transform: scale(1.1);
  margin-bottom: -2px;
}

.Notifications {
  composes: Webhook;
  left: 450px;
}

.Webhook svg {
  margin-right: 8px;
}

.NameText {
  padding: 0px 0px;
  line-height: 20px;
  margin: 0;
  font-size: 17px !important;
  word-break: break-all;
  color: #191c1a !important;
  font-weight: 500;
}

.Keyword {
  font-size: 12px;
  color: #555555 !important;
}

.DateColumn {
  width: 19.5%;
  min-width: 120px;
}

.ImportIcon {
  cursor: pointer;
}

.LastPublishedFallback {
  composes: LastPublished;
  color: #cd8888;
}

.LabelButton {
  width: fit-content;
  min-width: 80px;
  padding: 6px 12px;
  background: #f0f7f1;
  color: #555555;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

.Roles {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 12px;
  color: #93a29b !important;
}

.Filters {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.FilterLabel {
  color: #073f24 !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

.RadioLabel > span {
  line-height: 1 !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  font-family: 'Heebo', sans-serif !important;
}

.RadioLabel {
  margin-right: 24px;
}

.IconSize {
  height: 15px !important;
  width: 15px !important;
}

.ImportDialog {
  max-width: 395px;
}

.DialogContent {
  text-align: center;
}
