.Shortcode {
  width: 180px;
}

.Name {
  width: 35%;
  min-width: 200px;
}

.Pinned {
  width: 4%;
  align-items: center;
}

.Actions {
  justify-content: flex-end;
  margin-left: auto;
  min-width: 200px;
}

.LabelText {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  color: #073f24;
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 1;
}

.TableText {
  margin-right: 23px;
  text-align: left;
  padding: 12px 0px;
  font-size: 16px;
  color: #93a29b;
  line-height: 1.25;
  margin: 0;
}

.FlowIcon {
  width: 29px;
  height: 29px;
}

.LastPublished {
  padding-top: 12px;
  text-align: left;
  font-size: 16px;
  color: #93a29b;
  line-height: 1.25;
  white-space: pre-line;
  margin: 0;
}

.Links {
  color: #119656;
  position: fixed;
  bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.Webhook {
  composes: Links;
  left: 262px;
}

.ContactFields {
  composes: Links;
  left: 440px;
}

.Sheets {
  composes: Links;
  display: flex;
  left: 640px;
}

.Sheets svg {
  margin-right: 8px;
}

.ContactFields svg {
  margin-right: 8px;
  transform: scale(1.1);
  margin-bottom: -2px;
}

.Notifications {
  composes: Webhook;
  left: 450px;
}

.Webhook svg {
  margin-right: 8px;
}

.NameText {
  text-align: left;
  padding: 12px 0px;
  line-height: 1.25;
  margin: 0;
  font-size: 20px !important;
  word-break: break-all;
}

.Keyword {
  font-size: 12px;
  color: #93a29b !important;
}

.DateColumn {
  width: 18%;
  min-width: 120px;
}

.ImportIcon {
  cursor: pointer;
}

.LastPublishedFallback {
  composes: LastPublished;
  color: #cd8888;
}

.Roles {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 12px;
  color: #93a29b !important;
}
