.Card {
  border: 2px solid #979797;
  padding: 15px;
  border-radius: 15px;
}

.Button {
  margin-top: 15px !important;
}

.Description {
  border: 1px solid #d8d8d8;
  border-radius: 12px;
  padding: 16px;
  background-color: white;
  margin-bottom: 20px;
}

.List {
  padding-left: 0px;
  list-style-type: none;
  margin-top: 4px;
  color: #073f24;
}

.List li {
  font-size: 12px;
  color: #93a29b;
}

.Additional {
  color: #979797;
  font-size: 14px;
}
.Additional div {
  margin-bottom: 4px;
}

.Heading {
  color: #979797;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px !important;
}

.BackLink {
  font-weight: 800;
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.BackLink a {
  color: #93a29b;
  text-decoration: none;
}

.BackLink svg {
  margin-right: 6px;
}

.Pricing {
  display: flex;
  align-items: center;
}

.Pricing span {
  margin-right: 4px;
  font-size: 22px;
  color: #073f24;
  font-weight: 500;
}

.Helper {
  margin-left: 12px;
  color: #93a29b;
}

.Error {
  margin-left: 12px;
  color: #eb1c26;
}

.Form {
  width: 500px;
  margin-left: 24px;
  margin-top: 10px;
}

.Subscribed {
  font-size: 20px;
  color: #073f24;
  padding-left: 12px;
}

.Setup {
  display: flex;
  margin-bottom: 10px;
}

.Setup > div {
  flex: 1;
}
