.Card {
  border: 2px solid #c0c0c0;
  padding: 18px;
  border-radius: 12px;
  margin-top: 6px;
}

.Button {
  margin-top: 15px !important;
}

.Description {
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #f8faf5;
  margin-bottom: 20px;
}

.List {
  padding-left: 0px;
  list-style-type: none;
  margin-top: 4px;
  color: #073f24;
}

.List li {
  font-size: 12px;
  color: #93a29b;
}

.Additional {
  color: #93a29b;
  font-size: 14px;
}
.Additional div {
  margin-bottom: 4px;
}

.Heading {
  color: #cacaca;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px !important;
}

.BackLink {
  font-weight: 800;
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 20px;
}

.BackLink a {
  color: #93a29b;
  text-decoration: none;
}

.BackLink svg {
  margin-right: 6px;
}

.Pricing {
  display: flex;
  align-items: center;
}

.Pricing span {
  margin-right: 4px;
  font-size: 22px;
  color: #073f24;
  font-weight: 500;
}

.Helper {
  margin-left: 12px;
  color: #93a29b;
}

.Error {
  margin-left: 12px;
  color: #eb1c26;
}

.Form {
  width: 500px;
  padding-bottom: 32px;
  background-color: #fff;
  width: 100%;
}

.Subscribed {
  margin-top: 20px;
  font-size: 16px;
  color: #073f24;
  padding-left: 12px;
}

.Pending {
  margin-top: 20px;
  font-size: 16px;
  color: #073f24;
  padding-left: 12px;
  display: flex;
  align-items: center;
}

.Pending svg {
  margin-right: 8px;
}

.Subscribed svg {
  margin-top: 2px;
  margin-right: 8px;
}

.Subscribed > div {
  font-size: 12px;
  margin-top: 6px;
  margin-left: 26px;
  color: #93a29b;
}

.Subscribed span {
  text-decoration: underline;
}

.Setup {
  display: flex;
  margin-bottom: 10px;
}

.Setup > div {
  flex: 1;
}

.Title {
  margin-top: 16px !important;
  vertical-align: middle;
  font-weight: 500 !important;
  color: #073f24;
  text-transform: capitalize;
}

.Icon {
  background-color: #eaedec !important;
  margin-right: 10px !important;
}

.Portal {
  color: #119656;
  margin-left: 40px;
  text-decoration: underline;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-underline-offset: px;
  margin-top: 10px;
}

.Portal svg {
  width: 16px;
  height: 16px;
}

.Active {
  display: flex;
  align-items: center;
}

.Apply {
  cursor: pointer;
  font-size: 16px;
  color: #119656 !important;
  font-weight: 500;
  text-align: right;
}

.CouponDescription {
  composes: Description;
  border-left: 12px solid #eaedec;
}

.CouponHeading {
  color: #119656;
  font-weight: bold;
}

.CrossIcon {
  color: #93a29b;
}

.CouponError {
  composes: Description;
  border: 1px solid #dd1f1f;
  border-left: 12px solid #dd1f1f;
}

.Amount {
  color: #073f24;
  font-weight: 500;
}

.UpperSection {
  padding: 16px;
}

.BottomSection {
  padding: 10px 16px;
}

.DottedSpaced {
  background-image: linear-gradient(to right, #eaedec 50%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 8px 4px;
  background-repeat: repeat-x;
  height: 1px;
}

.InactiveHeading {
  color: #cacaca;
  font-weight: 500;
  font-size: 16px;
}

.Body {
  padding: 40px 53px 0 53px;
  width: fit-content;
}

.LoadingBackground {
  height: 100%;
  width: 100%;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .Form {
    width: 100%;
    padding: 0 24px;
    margin-left: 0px;
  }
  .Setup {
    display: block;
  }
}
