.Card {
  border: 1px solid rgba(40, 95, 43, 0.514);
  padding: 15px;
  border-radius: 15px;
}

.Button {
  margin-top: 15px !important;
}

.Description {
  border: 2px solid #979797;
  border-radius: 12px;

  margin-bottom: 20px;
}

.BackLink {
  font-weight: 800;
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.BackLink a {
  color: #93a29b;
  text-decoration: none;
}

.BackLink svg {
  margin-right: 6px;
}

.Heading {
  padding: 16px;
  display: flex;
  border-bottom: 1px solid #d8d8d8;
}

.Pricing {
  padding: 16px;
  display: flex;
}
.Pricing div {
  width: 150px;
  color: #073f24;
}

.Heading div {
  width: 150px;
  color: #979797;
  font-weight: 500;
}

.Footer {
  padding: 16px;
  font-size: 12px;
  border-top: 1px solid #d8d8d8;
}
