.Card {
  width: 31%;
  cursor: pointer;
  position: relative !important;
  margin-right: 24px;
  margin-bottom: 24px;
  border-radius: 12px !important;
  border-color: #eaedec !important;
  min-height: 150px;
}

.CardContainer {
  display: flex;
  padding: 16px;
  flex-wrap: wrap;
}

.Link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  color: #119656;
  padding-left: 8px;
  font-size: 16px;
}
.Link > p {
  margin: 0px;
}

.Label {
  font-weight: 500;
  font-size: 20px;
  margin: 0px;
  color: #073f24;
}

.CardActions > :last-child {
  margin-left: auto !important;
}

.CardActions {
  position: absolute !important;
  width: 100%;
  bottom: 0px !important;
}

.CardContent {
  padding-bottom: 50px !important;
}

.Description {
  padding-top: 12px;
  font-size: 16px !important;
  color: #93a29b;
  line-height: 1.25 !important;
}

.Title {
  margin-left: 24px !important;
  margin-top: 16px !important;
  vertical-align: middle;
  font-weight: 500 !important;
  color: #073f24;
}

.Icon {
  background-color: #eaedec !important;
  margin-right: 10px !important;
}
