.ChatBubble {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-bottom: 10px;
  margin-right: 6px;
  margin-left: 10px;
}

.ChatBubbleRead {
  background-color: #bbb;
}

.ChatBubbleUnread {
  background-color: #12e88e;
}

.LastMessage {
  display: inline;
}

.StyledListItem {
  height: 76px;
  padding: 8px 16px 8px 0px !important;
  display: flex;
  border-radius: 15px !important;
}

.ChatPicture {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.ChatInfo {
  width: 93%;
  height: 75px;
  padding: 15px 0;
  padding-left: 10px;
  position: relative;
}

.ChatInfoRead {
  color: #93a29b;
}

.ChatInfoUnread {
  font-weight: 500;
  color: #073f24;
}

.ChatName {
  font-size: 16px;
}

.MessageContent {
  font-weight: 400;
  font-size: 15px;
  display: flex;
  margin-top: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  white-space: break-spaces;
}

.MessageContent p {
  margin: 0px;
}

.MessageContent svg {
  margin-right: 8px;
}

.MessageDate {
  position: absolute;
  color: gray;
  top: 20px;
  right: 0;
  font-size: 13px;
}

.SelectedColor {
  background-color: #e2f1ea !important;
}

.Timer {
  margin-left: 8px;
  margin-top: 4px;
}

.TitleText {
  font-size: 13px !important;
  color: #073f24 !important;
  font-weight: bold;
}

.ChatIcons {
  height: 75px;
  padding-top: 22px;
}
