.WebhookLogIcon {
  width: 29px;
  height: 29px;
}

.LabelText {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #073f24;
  line-height: 1;
}

.TableText {
  margin-right: 23px;
  text-align: left;
  padding: 8px 0px;
  font-size: 16px;
  color: #93a29b;
  line-height: 1.25;
  margin: 0;
}

.ErrorStyle {
  background-color: #fbe8e8;
  border-radius: 14px;
  padding: 4px 8px;
  color: #dd1f1f;
  min-width: 77px;
  text-align: center;
}

.CroppedText {
  composes: TableText;
  cursor: pointer;
}

.LabelContainer {
  display: flex;
  height: fit-content;
  align-items: baseline;
  align-content: center;
}

.Success {
  background-color: #c8ebdc;
  border-radius: 14px;
  padding: 4px 8px;
  color: #119656;
}

.Redirect {
  background-color: #dfa1f9;
  border-radius: 14px;
  padding: 4px 8px;
  color: #7200a1;
}
.Time {
  width: 180px;
}

.Url {
  width: 200px;
}

.StatusCode {
  width: 140px;
}

.Status {
  width: 140px;
}

.Error {
  width: 150px;
}

.Method {
  width: 120px;
}

.Json {
  width: 200px;
}

.PopoverText {
  max-width: 400px;
  overflow-x: auto;
  max-height: 500px;
  font-size: 16px;
  color: #073f24;
  padding: 10px;
}

.PopoverActions {
  font-size: 16px;
  color: #073f24;
  display: flex;
  align-items: center;
  padding: 16px;
}

.StatusContainer {
  display: flex;
  align-items: center;
  padding: 4px 0;
  font-size: 16px;
}

.PopoverActions span {
  display: flex;
  cursor: pointer;
}

.PopoverActions img {
  height: 18px;
  margin-right: 12px;
}

.PopoverActions button {
  margin-left: auto;
  margin-right: 0px !important;
}

.Container > div:nth-of-type(2) {
  height: calc(100% - 88px);
}
