.LanguageWrapper {
  position: fixed;
  top: 24px;
  right: 24px;
  display: flex;
  flex-direction: row;
}

.LanguageWrapper > button {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 1 !important;
  font-family: 'Heebo', sans-serif !important;
  padding: 6px !important;
  text-transform: none !important;
  text-decoration: underline;
}

.LanguageWrapper > button:hover {
  background-color: unset;
}

.Selected {
  color: #073f24;
  text-decoration: unset !important;
}
