.LanguageWrapper {
  position: fixed;
  top: 32px;
  right: 24px;
  z-index: 1000;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.LanguageWrapper > button {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 1 !important;
  font-family: 'Heebo', sans-serif !important;
  padding: 6px !important;
  text-transform: none !important;
  text-decoration: underline;
  min-width: auto !important;
}

.LanguageWrapper > button:hover {
  background-color: unset;
}

.Selected {
  color: #073f24;
  text-decoration: unset !important;
}
