.ChatConversations {
  width: 100%;
  height: 100vh;
  padding-left: 10px;
  overflow-y: hidden;
  position: relative;
}

.IconBackground {
  background-color: #eaedec;
  border-radius: 50%;
  display: flex;
}

.Icon {
  margin: 10px 8px 8px 8px;
}

.ToolBar {
  padding: 0 24px 0 12px !important;
}

.Title {
  margin-left: 12px;
  font-family: 'Heebo', sans-serif;
}

/* Overriding Typography styling */
.TitleText {
  font-family: 'Heebo', sans-serif !important;
  font-size: 24px !important;
  color: #073f24 !important;
  margin-top: 3px !important;
}

.SaveCollection {
  margin: 0% 6%;
  position: absolute;
  width: 85%;
  height: 10% !important;
  bottom: 15px;
  width: -moz-fit-content;
  height: 48px;
}

.cancelButton {
  padding: 0px !important;
}

.container {
  padding: 10px !important;
  display: flex;
  justify-content: center;
}
