.ChatConversations {
  width: 100%;
  height: 100vh;
  max-width: 339px;
  padding-left: 10px;
  overflow-y: hidden;
}

.ListingContainer {
  height: calc(100% - 70px);
  overflow-y: auto;
  padding: 0px !important;
  /* border-top: 1px solid rgba(0, 0, 0, 0.12); */
}

.StyledList {
  padding: 0 !important;
  width: 93%;
  margin: auto !important;
  /* border-radius: 10px; */
}

.IconBackground {
  background-color: #eaedec;
  border-radius: 50%;
  display: flex;
}

.Icon {
  margin: 10px 8px 8px 8px;
}

.Title {
  margin-left: 12px;
  font-family: 'Heebo', sans-serif;
}
