.FormResponseContainer {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 12px;
    cursor: pointer;
    max-width: 280px;
    background-color: #0000004c;
}

.Content {
    display: flex;
    flex-direction: column;
    color: #fff !important;
}

.Title {
    font-weight: 500;
    color: #fff;
    margin-bottom: 2px;
}

.Subtitle {
    color: #afafaf;
    font-size: 12px;
}