.BlockIcon {
  width: 29px;
  height: 29px;
}

.LabelText {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #073f24;
  line-height: 1;
}

.TableText {
  margin-right: 23px;
  text-align: left;
  padding: 12px 0px;
  font-size: 16px;
  color: #93a29b;
  line-height: 1.25;
  margin: 0;
}

.Label {
  width: 300px;
}

.Phone {
  width: 140px;
}

.Actions {
  width: 120px;
  justify-content: flex-end;
  margin-left: auto;
}

.DialogText {
  max-width: 347px;
  margin-top: 0px;
  text-align: center;
  font-size: 14px;
  color: #073f24;
}
