.NotificationIcon {
  width: 29px;
  height: 29px;
}

.LabelText {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #073f24;
  line-height: 1;
}

.TableText {
  margin-right: 23px;
  text-align: left;
  padding: 8px 0px;
  font-size: 16px;
  color: #93a29b;
  line-height: 1.25;
  margin: 0;
}

.CroppedText {
  composes: TableText;
  overflow-wrap: break-word;
  word-break: break-all;
  cursor: pointer;
}

.PopoverText {
  max-width: 400px;
  overflow-x: auto;
  max-height: 500px;
  font-size: 16px;
  color: #073f24;
  padding: 10px;
}

.PopoverActions {
  font-size: 16px;
  color: #073f24;
  display: flex;
  align-items: center;
  padding: 16px;
}

.StatusContainer {
  display: flex;
  align-items: center;
  padding: 4px 0;
  font-size: 16px;
}

.PopoverActions span {
  display: flex;
  cursor: pointer;
}

.PopoverActions img {
  height: 18px;
  margin-right: 12px;
}

.PopoverActions button {
  margin-left: auto;
  margin-right: 0px !important;
}

.Time,
.Severity,
.Category {
  width: 13%;
}

.Entity {
  width: 25%;
}

.Message {
  width: 30%;
}

.RedirectArrow {
  width: 16px;
  color: #777;
}

.Mark {
  width: 2px;
}

.Dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: red;
  margin-right: 3px;
  position: relative;
  margin-top: 15px;
}

.Filters {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.FilterLabel {
  color: #073f24 !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

.RadioLabel > span {
  line-height: 1 !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  font-family: 'Heebo', sans-serif !important;
}

.RadioLabel {
  margin-right: 24px;
}
