.UserIcon {
  width: 32px;
}

.Popper {
  z-index: 1500;
}

.Popper > div > button {
  padding: 10px 30px 10px 10px !important;
  text-transform: none !important;
}

.StaffIcon {
  width: 32px;
}

.DrawerIcons {
  width: 100px;
}

.StaffButton {
  width: 100% !important;
}

.GlificLogo {
  display: flex;
  align-items: center;
  width: 52px;
}

.AnotherToolBar {
  padding: 12px 16px;
}

.Drawer {
  z-index: 1000;
  width: 203px;
  flex-shrink: 0;
  white-space: nowrap;
}
.NavClose {
  width: 72px;
}
.DrawerOpen {
  width: 203px;
  transition: width 255ms !important;
}
.DrawerClose {
  transition: width 255ms !important;
  width: 72px;
}
.Toolbar {
  display: flex;
}
.Content {
  flex-grow: 1;
  padding: 24px;
}

.OuterBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Title {
  align-self: center;
}

.ClosedIcon {
  margin: 12px 12px 12px 15px;
}
.BottomMenus {
  z-index: 1;
  position: absolute;
  bottom: 50px;
  display: flex;
  width: 100%;
  padding-left: 4px;
}

.BottomMenus > div {
  margin: 0 6px;
}
.BottomMenusWithoutWallet {
  bottom: 10px;
}
.BottomMenusVertical {
  flex-flow: column;
}

@media only screen and (max-width: 768px) {
  .NavClose {
    width: 0px;
  }

  .DrawerClose {
    overflow-x: hidden;
    width: 0px;
  }

  .DrawerOpen {
    width: 100%;
  }
}
