.SavedSearchToolbar {
  padding: 0px 6px;
  display: flex;
}

.SaveSearchContainer {
  color: #93a29b !important;
  cursor: pointer;
  font-weight: 800;
  display: flex;
}

.SavedSearchItem {
  display: flex;
  padding: 0px 2px;
}

.SavedSearchItemLabel {
  padding: 4px 4px;
  text-align: center;
}

.SavedSearchItemSelected {
  color: #119656 !important;
}

.SavedSearchCount {
  width: 33px;
  height: 16px;
  border-radius: 8px;
  font-size: 10px;
  color: #edf6f2;
  background-color: #93a29b;
  margin: auto;
  text-align: center;
}

.SavedSearchSelectedCount {
  background-color: #119656;
}

.MoreLink {
  float: right;
  padding-left: 5px;
}
