.SavedSearchToolbar {
  padding: 16px 6px;
  display: flex;
}

.SaveSearchContainer {
  color: #93a29b !important;
  cursor: pointer;
  width: 100%;
  font-weight: 800;
  display: flex;
}

.SavedSearchItem {
  display: flex;
  flex-grow: 1;
  font-size: 16px;
  padding: 0px 2px;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.SavedSearchItemLabel {
  padding: 0px 4px;
  text-align: center;
}

.SavedSearchItemSelected {
  color: #119656 !important;
}

.SavedSearchCount {
  padding: 5px;
  min-width: 16px;
  height: 16px;
  border-radius: 8px;
  align-items: center;
  font-size: 10px;
  color: #edf6f2;
  background-color: #93a29b;
  display: flex;
  justify-content: center;
}

.SavedSearchSelectedCount {
  background-color: #119656;
}

.MoreLink {
  margin-left: auto;
  margin-right: 6px;
}

.LabelContainer {
  align-items: center;
  padding: 8px 16px;
  font-size: 16px;
  display: flex;
  color: #93a29b !important;
  cursor: pointer;
  font-weight: 800;
}

.LabelContainer:hover {
  background-color: #edf6f2;
}

.Label {
  margin-right: 20px;
}

.Count {
  composes: SavedSearchCount;
  margin-left: auto;
}

.Popper {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.OptionsIcon {
  width: 24px;
  height: 24px;
}

.PopperContainer {
  max-height: 280px !important;
  overflow: auto;
}
