.ColorPicker {
  display: flex;
  align-items: center;
  width: 100% !important;
  position: relative;
  height: 70px;
  margin-left: 10px;
}

.ChooseColor {
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

.ColorInput {
  width: calc(100% - 59px);
  display: none;
}

.PickerPanel {
  left: 60px;
  z-index: 1;
  bottom: 85px;
}

.Container {
  padding: 10px;
}

.ContainListener {
  height: inherit;
}
