.FlowIcon {
  width: 29px;
  height: 29px;
}

.Link {
  text-decoration: none;
}

.Actions {
  text-align: end;
  margin-left: auto;
  min-width: 200px;
}

.HelperText {
  color: green;
  border-bottom: 1px dashed green;
  display: inline;
}

.LastSyncText {
  text-align: left;
  font-size: 16px;
  color: #93a29b;
  line-height: 1.25;
  white-space: pre-line;
  margin: 0;
}

.LastSync {
  width: 15%;
  min-width: 200px;
}

.Type {
  min-width: 100px;
}

.SyncStatus {
  min-width: 150px;
}

.FailureReason {
  min-width: 30px;
  width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Name {
  width: 25%;
  min-width: 200px;
}

.NameText {
  text-align: left;
  font-weight: 500;
  line-height: 1.25;
  margin: 0;
  font-size: 20px !important;
  word-break: break-all;
}

.SheetCount {
  font-size: 12px;
  color: #93a29b !important;
}

.DialogContent {
  font-size: 16px;
  font-weight: 400;
  margin: 0 12px;
  color: #073f24;
  text-align: center;
}

.SyncStatusBadge {
  border-radius: 14px;
  padding: 4px 8px;
  min-width: 77px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}

.SuccessBadge {
  composes: SyncStatusBadge;
  background-color: #c8ebdc;
  color: #119656;
}

.ErrorBadge {
  composes: SyncStatusBadge;
  background-color: #fbe8e8;
  color: #dd1f1f;
}
