.FlowIcon {
  width: 29px;
  height: 29px;
}

.Link {
  text-decoration: none;
}

.Actions {
  justify-content: flex-end;
  margin-left: auto;
  min-width: 200px;
}

.HelperText {
  color: green;
  border-bottom: 1px dashed green;
  display: inline;
}

.LastSyncText {
  padding-top: 12px;
  text-align: left;
  font-size: 16px;
  color: #93a29b;
  line-height: 1.25;
  white-space: pre-line;
  margin: 0;
}

.Name {
  width: 35%;
  min-width: 200px;
}

.NameText {
  text-align: left;
  font-weight: 500;
  padding: 12px 0px;
  line-height: 1.25;
  margin: 0;
  font-size: 20px !important;
  word-break: break-all;
}

.SheetCount {
  font-size: 12px;
  color: #93a29b !important;
}
