.ContactForm {
  width: 68%;
  position: relative;
  overflow: auto;
}

.ContactDescription {
  width: 32%;
  background-color: white;
  box-shadow: -2px 0px 6px rgba(0, 0, 0, 0.06);
}
.ContactProfile {
  display: flex;
}

.RadioLabel {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.FormControl {
  margin-bottom: 10px;
}
