.EmojiButton {
  position: absolute;
  bottom: 0;
  right: 150px;
}

.Editor {
  width: 75%;
  min-height: 40px;
}

.Editor :global(.public-DraftEditor-content) > div {
  height: 40px;
  overflow: auto;
}

.Editor :global(.public-DraftEditor-content) > div::-webkit-scrollbar {
  width: 22px;
}

.Editor :global(.public-DraftEditor-content) > div::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: lightgray;
  height: 30px;
  border: 0.5em solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 1em;
}

/* TODO: Override emoji-mart-emoji font-size to make it medium. */
span.emoji-mart-emoji {
  font-size: medium;
}

.emoji-mart-emoji {
  font-size: medium;
}
