.EmojiButton {
  position: absolute;
  bottom: 0;
  right: 150px;
}

.Editor {
  width: 75%;
  min-height: 40px;
}

.Editor :global(.public-DraftEditor-content) > div {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* TODO: Override emoji-mart-emoji font-size to make it medium. */
span.emoji-mart-emoji {
  font-size: medium;
}

.emoji-mart-emoji {
  font-size: medium;
}
