.Editor {
  overflow: auto;
  width: 100%;
  min-height: 40px;
  position: relative;
}

span.emoji-mart-emoji {
  font-size: medium;
}

.emoji-mart-emoji {
  font-size: medium;
}

.editorInput {
  resize: none;
  font-size: 16px;
  overflow: auto;
  width: 100%;
  min-height: 40px;
  margin-top: 4px;
  position: relative;
  tab-size: 1;
  outline: 0;
}

.editorPlaceholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 22px;
  left: 0px;
  font-size: 15px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}
