.Calendar {
  display: inline;
  width: 100%;
}

.CalendarInput .MuiOutlinedInput-adornedEnd {
  padding-right: 2px !important;
}

.Input {
  padding: 12.5px 14px;
}

.Label {
  top: -3px;
}

@media screen and (max-width: 768px) {
  .CalendarInput {
    width: 100% !important;
  }
  .Calendar {
    width: 100% !important;
    padding: 8px 0 !important;
  }
}
