.Calendar {
  width: 48%;
  display: inline-block;
  padding: 8px 0px;
}

.CalendarInput .MuiOutlinedInput-adornedEnd {
  padding-right: 2px !important;
}

@media (max-width: 768px) {
  .CalendarInput {
    width: 100% !important;
  }
  .Calendar {
    width: 100% !important;
    padding: 8px 0 !important;
  }
}
