.Shortcode {
  width: 180px;
}

.Label {
  width: 25%;
  min-width: 200px;
  padding-left: 4%;
}

.Actions {
  width: 15%;
  padding-right: 40px;
  min-width: 200px;
  text-align: end;
}

.LabelText {
  padding: 14px 0px;
  line-height: 20px;
  margin: 0;
  font-size: 17px !important;
  word-break: break-all;
  color: #191c1a !important;
  font-weight: 500;
}

.TableText {
  font-size: 15px;
  line-height: 20px;
  color: #555555;
  white-space: pre-line;
  margin: 0;
  font-weight: 400;
  padding: 12px 4% 12px 0;
}

.FlowIcon {
  width: 29px;
  height: 29px;
}

.LastPublished {
  padding-top: 12px;
  text-align: left;
  font-size: 16px;
  color: #93a29b;
  line-height: 1.25;
  white-space: pre-line;
  margin: 0;
}

.Webhook {
  color: #119656;
  position: fixed;
  bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  left: 262px;
  cursor: pointer;
  text-decoration: none;
}

.ContactFields {
  color: #119656;
  position: fixed;
  bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  left: 440px;
  cursor: pointer;
  text-decoration: none;
}
.ContactFields svg {
  margin-right: 8px;
  transform: scale(1.1);
  margin-bottom: -2px;
}

.Notifications {
  composes: Webhook;
  left: 450px;
}

.Webhook svg {
  margin-right: 8px;
}

.NameText {
  font-size: 20px !important;
  color: #073f24 !important;
  word-break: break-all;
}

.Keyword {
  font-size: 12px;
  color: #93a29b !important;
}

.Message {
  width: 40%;
  min-width: 150px;
}

.Type {
  width: 20%;
  min-width: 100px;
}
