.ChatInput {
  padding-top: 15px;
}

.ChatInputElements {
  display: flex;
  height: 64px;
  width: 100%;
  padding: 10px;
  border-radius: 0px 0px 12px 12px !important;
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.08);
  border-width: 2px;
  border-style: solid;
}

.InputContainer {
  width: 80%;
}

.EmojiContainer {
  margin-top: -6px;
}

.SendButtonContainer {
  padding-left: 5px;
}

.InputBox {
  width: 100%;
  border: none;
  border-radius: 999px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 15px;
  font-size: 16px;
  outline: none;
  line-height: 35px;
}

.EmojiPickerPopup {
  width: 338px;
  position: absolute;
  bottom: 140px;
  right: 176px;
  z-index: 1;
}

.SendButton {
  border-radius: 20px !important;
  width: 99px;
  height: 40px;
}

.SendIcon {
  padding-left: 8px;
}

.SendsContainer {
  display: flex;
  margin-top: -10px;
}

.QuickSend {
  margin-left: 15px;
  background-color: #93a29b;
  color: #edf6f2;
  padding: 5px 12px 5px 12px;
  border-radius: 15px 15px 0px 0px;
  font-family: 'Heebo', sans-serif;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.QuickSendSelected {
  background-color: #119656;
}

.ShortcutPaper {
  width: 100%;
  /* width: 1200px; */
  /* height: 300px; */
  z-index: -1;
  position: relative;
  padding: 0px 0px 30px 0px;
}

.Popper {
  width: 64.2%;
  position: relative;
  z-index: 50;
  border-color: rgba(0, 0, 0, 0.08);
  border-width: 1px 2px 1px 2px;
  border-style: solid;
  /* border-radius: 25px 25px 0px 0px; */
}

.ChatSearchBar {
  border-color: #eaedec;
  width: 95%;
  height: 40px;
}
