.ChatInput {
  display: flex;
  height: 100px;
  width: calc(100% - 10px);
}

.ChatInputElements {
  display: flex;
  height: 64px;
  width: 100%;
  padding: 10px;
  border-radius: 12px !important;
  background-color: #ffffff;
}

.InputContainer {
  width: 80%;
}

.EmojiContainer {
  margin-top: -6px;
}

.SendButtonContainer {
  padding-left: 5px;
}

.InputBox {
  width: 100%;
  border: none;
  border-radius: 999px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 15px;
  font-size: 16px;
  outline: none;
  line-height: 35px;
}

.EmojiPickerPopup {
  width: 338px;
  position: absolute;
  bottom: 140px;
  right: 176px;
  z-index: 1;
}

.SendButton {
  border-radius: 20px !important;
  width: 99px;
  height: 40px;
}

.SendIcon {
  padding-left: 8px;
}
