.ChatInput {
  padding-top: 15px;
  position: absolute;
  bottom: 15px;

  left: 0;
  right: 0;
  margin: auto;
}

.ChatInputElements {
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  height: 64px;
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  justify-content: space-between;
  height: fit-content;
  max-height: 200px;
  overflow-y: scroll;
  padding-right: 5px;
}

.InputErrorStyle {
  composes: ChatInputElements;
  border: 2px solid red;
}

.Rounded {
  border-radius: 15px;
}

.Unrounded {
  border-radius: 0px 0px 15px 15px;
}

.ChatInputElements::-webkit-scrollbar {
  width: 22px;
}

.ChatInputElements::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: lightgray;
  height: 1em;
  border: 0.5em solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 1em;
}

.InputContainer {
  width: 85%;
  font-size: 16px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  border-color: rgba(0, 0, 0, 0.08);
  border-width: 2px;
  border-style: solid;
  position: relative;
}

.InputContainer {
  width: 80%;
  position: relative;
}

.EmojiContainer {
  margin-top: -6px;
}

.InputBox {
  width: 100%;
  border: none;
  border-radius: 999px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 15px;
  font-size: 16px;
  outline: none;
  line-height: 35px;
}

.EmojiPickerPopup {
  width: 338px;
  position: absolute;
  bottom: 140px;
  right: 176px;
  z-index: 1;
}

.SendButton {
  border-radius: 20px !important;
  height: 40px;
  min-width: unset !important;
  width: 40px !important;
  padding: 10px !important;
}

.SendButtonContainer {
  position: absolute;
  bottom: 10px;
  right: 35px;
}

.EmojiButton {
  position: absolute;
  bottom: 14px;
  right: 78px;
}

.Editor {
  width: 75%;
  min-height: 40px;
}

.SendsContainer {
  display: flex;
  /* margin-top: -20px; */
  flex-flow: row nowrap;
  position: relative;
}

.QuickSend {
  margin-left: 8px;
  background-color: #93a29b;
  color: #edf6f2;
  padding: 5px 12px 5px 12px;
  border-radius: 15px 15px 0px 0px;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.QuickSendSelected {
  background-color: #119656;
}

.ShortcutPaper {
  width: 100%;
  /* width: 1200px; */
  /* height: 300px; */
  z-index: -1;
  position: relative;
  padding: 0px 0px 30px 0px;
}

.Popper {
  width: 64.2%;
  position: relative;
  z-index: 50;
  border-color: rgba(0, 0, 0, 0.08);
  border-width: 1px 2px 1px 2px;
  border-style: solid;
  /* border-radius: 25px 25px 0px 0px; */
  box-sizing: border-box;
  width: 100%;
  /* height: 500px; */
  flex: none;
  bottom: 0;
}

.ChatSearchBar {
  border-color: #eaedec;
  width: 95%;
  height: 40px;
  position: absolute;
  bottom: 40px;
  width: 95%;
  margin: auto;
  left: 0;
  right: 0;
}

.Popup {
  width: 100%;
  height: auto;
  min-height: 160px;
  max-height: 600px;
  background-color: white;
  position: relative;
  border-color: rgba(0, 0, 0, 0.08);
  border-width: 2px;
  border-style: solid;
  border-radius: 15px 15px 0px 0px;
  padding-top: 10px;
}

.HidePopup {
  visibility: hidden;
}

.QuickSendButtons {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 30px;
  display: flex;
}

.ContactOptOutMessage {
  color: #93a29b;
  font-size: 16px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.AttachmentIcon {
  position: absolute !important;
  bottom: 6px;
  right: 122px;
}

.AttachmentIcon svg {
  height: 24px;
  width: 24px;
}

.VariableIcon {
  position: absolute !important;
  bottom: 4px;
  right: 165px;
}

.CrossIcon {
  position: absolute !important;
  bottom: 4px;
  right: 210px;
}

.CrossIconWithVariable {
  position: absolute !important;
  bottom: 4px;
  right: 165px;
}

.CrossIcon svg,
.CrossIconWithVariable svg {
  height: 26px;
  width: 26px;
}

svg.SendIcon {
  margin-top: 2px;
}

.ErrorMessage {
  color: red;
  padding-left: 10px;
}

@media only screen and (max-width: 768px) {
  .QuickSend {
    font-size: 12px;
  }

  .CrossIcon {
    position: absolute !important;
    bottom: -5%;
    right: 60%;
  }

  .CrossIconWithVariable {
    position: absolute !important;
    bottom: -5%;
    right: 60%;
  }

  .VariableIcon {
    position: absolute !important;
    bottom: -5%;
    right: 50%;
  }

  .AttachmentIcon {
    position: absolute !important;
    bottom: -5%;
    right: 30%;
  }

  .SendButtonContainer {
    position: absolute;
    bottom: 0px;
    right: 10%;
  }

  .ChatInputElements {
    display: flex;
    height: 64px;
    width: 100%;
    padding: 10px 10px 24px 10px;
    background-color: #ffffff;
    justify-content: space-between;
    height: fit-content;
    max-height: 200px;
    overflow-y: scroll;
    padding-right: 5px;
  }
}
