.ChatInput {
  padding-top: 15px;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
}

.ChatInputElements {
  display: flex;
  height: 72px;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  height: fit-content;
  max-height: 200px;
  border: 1px solid #e0e0e0;
  background: #fff;
  border-radius: 35px;
}

.InputContainer {
  width: 85%;
  font-size: 16px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  border-color: rgba(0, 0, 0, 0.08);
  border-width: 2px;
  border-style: solid;
  position: relative;
}

.InputContainer {
  width: 80%;
  position: relative;
}

.EmojiContainer {
  margin-top: -6px;
}

.InputBox {
  width: 100%;
  border: none;
  border-radius: 999px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 15px;
  font-size: 16px;
  outline: none;
  line-height: 35px;
}

.EmojiPickerPopup {
  width: 338px;
  position: absolute;
  bottom: 140px;
  right: 176px;
  z-index: 1;
}

.SendButton {
  border-radius: 20px !important;
  height: 40px;
  min-width: unset !important;
  width: 40px !important;
  padding: 10px 7px 5px 8px !important;
}

.SendButtonContainer {
  padding: 0 10px;
}

.EmojiIcon {
  height: 30px;
  width: 30px;
}

.Editor {
  min-height: 40px;
}

.SendsContainer {
  display: flex;
  margin-bottom: 8px;
  flex-flow: row nowrap;
  position: relative;
}

.QuickSend {
  cursor: pointer;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  border: 1px solid #119656;
  background: #fff;
  color: #119656;
  font-size: 11px;
  font-weight: 500;
  padding: 8px 17px;
  gap: 8px;
}

.QuickSendSelected {
  background-color: #119656;
  color: #fff !important;
}

.ShortcutPaper {
  width: 100%;
  z-index: -1;
  position: relative;
  padding: 0px 0px 30px 0px;
}

.Popper {
  width: 64.2%;
  position: relative;
  z-index: 50;
  border-color: rgba(0, 0, 0, 0.08);
  border-width: 1px 2px 1px 2px;
  border-style: solid;
  box-sizing: border-box;
  width: 100%;
  flex: none;
  bottom: 0;
}

.ChatSearchBar {
  border-radius: 24px;
  border: 1px solid #ccc;
  background: #fff;
  height: 40px;
  margin: 16px !important;
}

.Popup {
  width: 100%;
  height: auto;
  min-height: 160px;
  max-height: 600px;
  position: relative;
  border-radius: 24px;
  border: 1px solid #e0e0e0;
  background: #fff;
}

.HidePopup {
  visibility: hidden;
}

.QuickSendButtons {
  width: 100%;
  bottom: 0;
  height: 30px;
  display: flex;
  gap: 16px;
  margin: 16px;
}

.ContactOptOutMessage {
  color: #93a29b;
  font-size: 16px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.AttachmentIcon svg {
  height: 24px !important;
  width: 24px !important;
}

.CrossIcon svg,
.CrossIconWithVariable svg {
  height: 26px;
  width: 26px;
}

svg.SendIcon {
  height: 25px;
  width: 25px;
}

.Icons {
  display: flex;
  align-items: center;
}

.Icon {
  height: 18px;
  width: 18px;
}

@media only screen and (max-width: 768px) {
  .QuickSend {
    font-size: 12px;
  }

  .ChatInputElements {
    display: flex;
    height: 64px;
    width: 100%;
    padding: 10px 10px 24px 10px;
    background-color: #ffffff;
    justify-content: space-between;
    height: fit-content;
    max-height: 200px;
  }
}
