.CollectionInformation {
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
  color: #cacaca;
  align-items: center;
  margin-bottom: 5px;
}

.SessionInfo {
  padding-top: 8px;
}

.SessionCount {
  color: #93a29b;
}

.CollectionHeading {
  font-weight: 500;
  line-height: 1;
  color: #cacaca;
  font-size: 12px;
}

.CollectionsName {
  composes: CollectionHeading;
  margin-left: 6px;
  color: #93a29b;
}

.CollectionAssigned {
  text-align: right;
}

.InfoWrapper {
  align-items: flex-end;
  flex-direction: column;
}

.Message {
  width: 331px;
  line-height: 20px;
  text-align: center;
  color: #073f24;
}

.Count:not(:empty) ~ .Count:not(:empty):before {
  content: ', ';
}

.Heading {
  font-size: 0.875rem;
}

@media only screen and (max-width: 768px) {
  .CollectionInformation {
    display: none;
  }
}
