.CollectionInformation {
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
  color: #cacaca;
  align-items: center;
  display: flex;
  align-items: center;
}

.SessionInfo {
  color: #999;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.SessionCount {
  color: #555;
  font-family: Heebo;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.CollectionHeading {
  font-weight: 500;
  line-height: 1;
  color: #cacaca;
  font-size: 12px;
}

.CollectionsName {
  composes: CollectionHeading;
  margin-left: 6px;
  color: #93a29b;
}

.CollectionAssigned {
  text-align: right;
}

.InfoWrapper {
  align-items: flex-end;
  flex-direction: column;
}

.Message {
  width: 331px;
  line-height: 20px;
  text-align: center;
  color: #073f24;
}

.Count:not(:empty) ~ .Count:not(:empty):before {
  content: ', ';
}

.Heading {
  color: #555;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.MessageInfo {
  display: flex;
  gap: 0 72px;
  margin: 0 29px 0 17px;
}

@media only screen and (max-width: 768px) {
  .CollectionInformation {
    display: none;
  }
}
