.ExtensionIcon {
  width: 29px;
  height: 29px;
}
.Dialogbox {
  border-radius: 32px !important;
  margin: 0px;
  min-width: 456px;
}

.DialogContent {
  padding: 0px 0px 4px 0px !important;
  max-height: 500px;
  overflow: hidden !important;
}
