.Container {
  width: 100%;
  height: 100%;
}

.CenterRegistrationAuth {
  display: flex;
  align-items: center;
  flex-direction: column;
  vertical-align: middle;
}

.RegistrationAuthTitle {
  margin-bottom: 10px;
}
