.Container {
  width: 100%;
  height: 100vh;
}

.Auth {
  display: flex;
  align-items: center;
  flex-direction: column;
  vertical-align: middle;
}

.GlificLogo {
  margin-top: 5vh;
  width: 99px;
}

.Box {
  border-radius: 12px;
  margin-top: 3vh;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
}

.RegistrationBox {
  width: 400px;
  min-height: 440px;
  height: auto;
  background-color: #073f24;
}

.OTPBox {
  width: 400px;
  min-height: 355px;
  height: auto;
  background-color: #073f24;
}

.LoginBox {
  min-height: 380px;
  height: auto;
  width: 395px;
  border-color: #eaedec;
  background-color: white;
  border-style: solid;
  border-width: 2px;
}

.BoxTitle {
  justify-content: flex-start;
  margin-bottom: 10px;
  margin-top: 32px;
  margin-left: 32px;
  font-weight: bold;
  width: 320px;
}

.RegistrationBoxTitle {
  color: white;
}

.LoginBoxTitle {
  color: #073f24;
}

.TitleText {
  font-weight: bold !important;
}

.CenterBox {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.OrText {
  color: #93a29b;
  font-weight: bolder;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 16px;
  text-transform: uppercase;
}

.OrganizationName {
  color: #073f24;
  text-decoration: none;
  font-size: 36px;
  font-weight: bolder;
  margin-top: 0.25rem;
}

.Auth a {
  color: #119656;
  text-decoration: none;
  font-size: 16px;
  font-weight: bolder;
}

.Auth a:visited {
  color: #119656;
}

.Break {
  margin-top: 10px;
  height: 1px;
  width: 120px;
  color: #eaedec;
  border-style: solid;
}

.Or hr {
  margin-top: 32px;
  margin-left: 18px;
  margin-right: 18px;
  height: 1px;
  width: 142px;
  border-color: #eaedec;
  background-color: #eaedec;
  color: #eaedec;
  border-style: solid;
}

.Or {
  display: flex;
  flex-direction: row;
}

.FirstResetBox {
  min-height: 300px;
  height: auto;
  width: 395px;
  border-color: #eaedec;
  border-style: solid;
  border-width: 2px;
}

.SecondResetBox {
  min-height: 476px;
  height: auto;
  width: 395px;
  border-color: #eaedec;
  border-style: solid;
  border-width: 2px;
}

.SubText {
  color: #93a29b;
  display: flex;
  align-content: flex-start;
  font-weight: 500;
  margin-left: 32px;
  margin-top: 4px;
}

.Form {
  width: 350px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-content: center;
  flex-direction: column;
  padding: 0px 8px;
}

.CenterButton {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.CenterForm {
  display: flex;
  flex-direction: column;
}

.AuthButton {
  width: 334px;
  margin-right: 0px !important;
}

.AuthRegistrationButton {
  composes: AuthButton;
  border: 0px !important;
}

.ErrorMessage {
  text-align: center;
  margin-top: 5px;
  color: red;
  width: 333px;
  padding-bottom: 10px;
}

.SuccessMessage {
  font-size: 16px;
  margin-top: 100px;
  color: #93a29b;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  padding: 15px 44px;
}

.ForgotPassword {
  font-size: 16px;
  color: #93a29b;
  font-weight: 500;
}

.Auth .Link {
  font-size: 16px;
  color: #93a29b;
  font-weight: 500;
  margin-left: 10px;
  padding-bottom: 10px;
}

.Auth .Link a {
  font-size: 16px;
  color: #93a29b;
  font-weight: 500;
}

.RegistrationBox input,
.RegistrationBox input:hover,
.OTPBox input,
.OTPBox input:hover {
  color: #93a29b !important;
}

.RegistrationBox fieldset,
.OTPBox fieldset {
  border-color: #93a29b !important;
}

.SubmitAction {
  display: none;
}

.AlternateText {
  text-transform: uppercase;
}

.WhatsAppIcon {
  width: 26px;
  height: 26px;
  background: transparent;
  margin-left: 6px;
}

.InformationText {
  font-size: 14px;
  text-align: center;
  color: #93a29b;
  font-weight: 400;
  margin-bottom: 24px;
}

.Captcha {
  display: flex;
  justify-content: center;
}
