.Container {
  width: 100%;
  height: 100vh;
}

.Auth {
  display: flex;
  align-items: center;
  flex-direction: column;
  vertical-align: middle;
}

.GlificLogo {
  font-family: 'Tenor Sans';
  color: #0d6b3d;
  font-size: 36px;
  margin-top: 5vh;
}

.Box {
  border-radius: 12px;
  margin-top: 5vh;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
}

.RegistrationBox {
  width: 400px;
  height: 450px;
  background-color: #073f24;
}

.OTPBox {
  width: 400px;
  height: 360px;
  background-color: #073f24;
}

.LoginBox {
  height: 390px;
  width: 395px;
  border-color: #eaedec;
  border-style: solid;
  border-width: 2px;
}

.BoxTitle {
  justify-content: start;
  margin-bottom: 10px;
  margin-top: 32px;
  margin-left: 32px;
  font-weight: bold;
  width: 320px;
}

.RegistrationBoxTitle {
  color: white;
}

.LoginBoxTitle {
  color: #073f24;
}

.TitleText {
  font-weight: bold !important;
}

.CenterBox {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.AuthButton {
  width: 335px;
  border-radius: 27px !important;
  margin-top: 20px !important;
}

.LoginButton {
  background-color: white !important;
  border: solid 2px #119656 !important;
  margin-top: 0px;
  color: #119656 !important;
}

.OrText {
  color: #93a29b;
  font-weight: bolder;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 16px;
}

.Auth a {
  color: #119656;
  text-decoration: none;
  font-size: 16px;
  font-weight: bolder;
}

.Auth a:visited {
  color: #119656;
}

.Auth hr {
  margin-top: 32px;
  margin-left: 18px;
  margin-right: 18px;
  height: 1px;
  width: 142px;
  border-color: #eaedec;
  background-color: #eaedec;
  color: #eaedec;
  border-style: solid;
}

.Or {
  display: flex;
  flex-direction: row;
}

.FirstResetBox {
  height: 340px;
  width: 395px;
  border-color: #eaedec;
  border-style: solid;
  border-width: 2px;
}

.SecondResetBox {
  height: 430px;
  width: 395px;
  border-color: #eaedec;
  border-style: solid;
  border-width: 2px;
}
