.Container {
  width: 100%;
  height: 100vh;
}

.CenterRegistration {
  display: flex;
  align-items: center;
  flex-direction: column;
  vertical-align: middle;
}

.Errors {
  color: red;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 0px;
  font-size: 14px;
}

.Margin {
  margin: 4px;
}

.ErrorText {
  font-size: 15px;
  margin: 0px;
}

.Box {
  width: 400px;
  height: 440px;
  background-color: #073f24;
  border-radius: 12px;
  margin-top: 10vh;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
}

.BoxTitle {
  color: white;
  justify-content: start;
  margin-bottom: 10px;
  margin-top: 32px;
  margin-left: 32px;
  font-weight: bold;
}

.CenterBox {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.OrText {
  color: #93a29b;
  font-weight: bolder;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 16px;
}

a {
  color: #119656;
  text-decoration: none;
  font-size: 16px;
  font-weight: bolder;
}

a:visited {
  color: #119656;
}

hr {
  margin-top: 32px;
  margin-left: 18px;
  margin-right: 18px;
  height: 1px;
  width: 142px;
  border-color: #eaedec;
  background-color: #eaedec;
  color: #eaedec;
  border-style: solid;
}

.Or {
  display: flex;
  flex-direction: row;
}

.GlificLogo {
  font-family: 'Tenor Sans';
  color: #0d6b3d;
  font-size: 36px;
  margin-top: 5vh;
}

.InputField {
  border-color: #93a29b !important;
  border-radius: 12px !important;
  border-width: 2px !important;
  line-height: 32px;
  width: 340px;
}

.FormLabel {
  color: #93a29b !important;
}

.IconButton {
  color: #93a29b;
}

.FormHelperText {
  color: red !important;
  margin-top: 2px !important;
  line-height: 1.2 !important;
}

.ContinueButton {
  width: 335px;
  border-radius: 27px !important;
  margin-top: 20px !important;
}

.TitleText {
  font-weight: bold !important;
}

.Input {
  color: #93a29b !important;
}
