.DescriptionContainer {
  min-height: 100vh;
  padding: 56px 46px;
  background-color: #fff;
}

.Title {
  color: #555555;
  font-size: 20px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  margin-left: 10px;
}

.Description {
  display: flex;
}

.FieldLabel {
  padding-top: 29px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #777777;
  margin-bottom: 12px;
}

.SessionTimer {
  font-size: 10px;
  align-content: center;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.SessionTimer > span {
  margin-right: 6px;
  margin-top: 3px;
}

.DetailBlock {
  margin-left: 10px;
}

.DetailBlock > div {
  margin-bottom: 12px;
}

.DescriptionItem {
  font-size: 16px;
  color: #cacaca;
  text-transform: capitalize;
}

.DescriptionItemValue {
  color: #212121;
  leading-trim: both;
  text-edge: cap;
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

.Visibility {
  color: #212121;
  leading-trim: both;
  text-edge: cap;
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

.PhoneSection {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.PhoneField {
  width: fit-content;
}

.Divider {
  height: 1px;
  flex-shrink: 0;
  background: #efefef;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.06);
  margin-top: 24px;
}
