.DescriptionContainer {
  min-height: 100vh;
  padding: 24px;
}

.Title {
  color: #073f24;
  font-weight: 500;
  margin-bottom: 12px;
  margin-top: 0px;
}

.Description {
  font-size: 16px;
  display: flex;
  margin-top: 0px;
  color: #93a29b;
  line-height: 1.25;
  padding-bottom: 22px;
}

.SessionTimer {
  font-size: 10px;
  margin-left: auto;
  align-content: center;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.SessionTimer > span {
  margin-right: 6px;
  margin-top: 3px;
}

.DetailBlock {
  padding-top: 22px;
  border-top: 1px solid #eaedec;
  padding-bottom: 16px;
}

.DetailBlock > div {
  margin-bottom: 12px;
}

.DescriptionItem {
  font-size: 16px;
  color: #cacaca;
  text-transform: capitalize;
}

.DescriptionItemValue {
  font-size: 16px;
  color: #073f24;
}

.Visibility {
  color: #93a29b;
}

.PhoneSection {
  display: flex;
  align-items: center;
}

.PhoneField {
  width: 115px;
}
