.TableText {
  font-size: 15px;
  line-height: 20px;
  color: #555555;
  white-space: pre-line;
  margin: 0;
  font-weight: 400;
}

.Title {
  margin-left: 14px !important;
  vertical-align: middle;
  font-weight: 500 !important;
  color: #073f24;
}

.Header {
  display: flex;
  padding: 10px;
  padding-right: 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-top: 6px;
  height: 70px;
  padding-left: 30px;
}

.Name {
  width: 27%;
  min-width: 200px;
}

.NameText {
  padding: 14px 0px;
  line-height: 20px;
  margin: 0;
  font-size: 17px !important;
  word-break: break-all;
  color: #191c1a !important;
  font-weight: 500;
}

.Role {
  font-size: 12px;
  color: #93a29b !important;
}

.Phone {
  width: 18%;
}

.Collection {
  width: 40%;
}

.Actions {
  width: 15%;
  min-width: 200px;
  text-align: end;
}

.StaffIcon {
  width: 32px;
  height: 32px;
}
