.TableText {
  margin-right: 23px;
  text-align: left;
  padding: 12px 0px;
  font-size: 16px !important;
  color: #93a29b;
  line-height: 1.25;
  margin: 0;
}

.Title {
  margin-left: 14px !important;
  vertical-align: middle;
  font-weight: 500 !important;
  color: #073f24;
}

.Header {
  display: flex;
  padding: 10px;
  padding-right: 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-top: 6px;
  height: 70px;
  padding-left: 30px;
}

.Name {
  width: 200px;
}

.NameText {
  font-size: 20px !important;
  color: #073f24 !important;
}

.Role {
  font-size: 12px;
  color: #93a29b !important;
}

.Phone {
  width: 200px;
}

.Group {
  width: 300px;
}

.Actions {
  width: 130px;
  justify-content: flex-end;
  margin-left: auto;
}
