.Input {
  display: flex;
  width: 100%;
}

.InputBorder {
  border-radius: 12px;
  border-width: 2px;
}

.Label {
  font-size: 16px;
  font-weight: 500;
  color: #93a29b;
}

.HelperText {
  margin-left: 0px;
  color: #999999;
  line-height: 1;
  font-size: 12px;
  margin-top: 7px;
  line-height: 18px;
  font-weight: 400;
}

.Multiline {
  padding-bottom: 35px;
}

.Resend {
  color: #119656;
  font-weight: bold;
  font-size: 14px;
}

.ResendButton {
  color: #119656;
}

.Visibility {
  color: #93a29b;
}

.OutlineInput :global(.public-DraftEditor-content) {
  height: 100px;
  width: 100%;
}

.OutlineInput :global(.DraftEditor-root) {
  height: 100px;
  overflow: auto;
  width: 100%;
}

.DangerText {
  margin-left: 14px;
  font-size: 12px;
  margin-top: 4px;
  line-height: 18px;
  font-weight: 400;
}

.Translation {
  background-color: #f7f0e5;
  margin-bottom: 8px;
  padding: 6px 16px;
  border-radius: 10px;
  white-space: pre-line;
  color: #aa9677;
}

.OutlinedInput,
.DarkOutlinedInput {
  padding: 12.5px 14px;
}

.DarkOutlinedInput::placeholder {
  color: #ece9e3;
}

.DarkOutlinedInput {
  padding: 12.5px 14px;
}

@media screen and (max-width: 768px) {
  .Input {
    width: 100%;
  }
}