.Input {
  display: flex;
  padding: 8px 0px;
}

.InputBorder {
  border-radius: 12px !important;
  border-width: 2px !important;
}

.Label {
  font-size: 16px;
  font-weight: 500;
  color: #93a29b !important;
}

.HelperText {
  margin-left: 16px !important;
  color: #93a29b !important;
  line-height: 1 !important;
  font-size: 12px !important;
  margin-top: 4px !important;
}

.Multiline {
  padding-bottom: 35px !important;
}

.OutlineInput > div:first-child {
  width: inherit !important;
  height: 100px;
  overflow: auto;
}
.Resend {
  color: #119656;
  font-weight: bold;
  font-size: 14px;
}

.ResendButton {
  color: #119656;
}

.Visibility {
  color: #93a29b;
}

.OutlineInput :global(.public-DraftEditor-content) {
  padding-bottom: 81px;
}

.DangerText {
  margin-left: 16px !important;
}

.Translation {
  background-color: #f7f0e5;
  padding: 6px 16px;
  border-radius: 10px;
  white-space: pre-line;
  color: #aa9677;
}

@media screen and (max-width: 768px) {
  .Input {
    width: 100% !important;
  }
}
