.Input {
  display: flex;
  padding: 8px;
}

.InputBorder {
  border-radius: 12px !important;
  border-width: 2px !important;
}

.Label {
  font-size: 16px;
  font-weight: 500;
  color: #93a29b !important;
}

.HelperText {
  margin-left: 16px !important;
}

/* .MuiOutlinedInput-multiline {
  margin-bottom: 35px !important;
} */
/* 
.Multiline.MuiOutlinedInput-multiline {
  margin-bottom: 35px;
} */

.Multiline {
  padding-bottom: 35px !important;
}
