.Item {
  display: inline-block;
  width: 48%;
  vertical-align: top;
  margin-right: 2% !important;
  margin: 0 0 10px 0;
}

.CheckboxLabel {
  color: #555555;
  font-weight: 400;
  line-height: 18px;
  font-size: 16px;
}

.Checkbox {
  margin-bottom: -10px;
  margin-top: 16px;
}

.AddDayLabel {
  font-size: 16px;
}
