.ConsultingHoursIcon {
  width: 29px;
  height: 29px;
}

.Label {
  width: 30%;
}

.LabelText {
  font-weight: 500;
  font-size: 20px;
  color: #073f24;
  line-height: 1;
}

.StatusText {
  font-weight: 400;
  font-size: 16px;
  color: #93a29b;
  line-height: 1.25;
}

.LabelContainer {
  height: fit-content;
  align-items: baseline;
  align-content: center;
}

.Status {
  width: 15%;
}

.Actions {
  width: 20%;
  justify-content: flex-end;
  margin-left: auto;
}

.Dialogbox {
  border-radius: 32px !important;
  margin: 0px;
  min-width: 456px;
  min-height: 704px;
}

.DialogContent {
  padding: 0px 0px 4px 0px !important;
}

@media only screen and (max-width: 768px) {
  .Dialogbox {
    min-width: 280px;
  }
}

.Body {
  margin-top: 0;
}
