.FormContainer {
  padding: 2rem 4rem;
}

.Header {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  margin-bottom: 1rem;
}

.Step {
  color: #9a9a9a;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.Title {
  color: #111111;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.HelperText {
  color: #9a9a9a;
  font-size: 14px;
}

.FormFields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 64px;
  grid-row-gap: 24px;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.Button {
  padding: 10px 64px;
  border-radius: 8px;
  line-height: 30px;
}
