.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.CenterRegistrationAuth {
  display: flex;
  align-items: center;
  flex-direction: column;
  vertical-align: middle;
}

.RegistrationAuthTitle {
  margin-bottom: 10px;
}

.Margin {
  margin: 8px;
}

.TextField {
  width: 40ch;
}

.BottomMargin {
  margin-bottom: 25px;
}
