.Chat {
  width: 100%;
  display: flex;
}

.ChatMessages {
  width: 100%;
}

.ChatConversations {
  width: 380px !important;
  min-width: 380px !important;
  border-left: 1px solid #d9d9d9;
  background-color: #f4f7ee;
}

.NoConversations {
  padding: 76px;
}

.IconBackground {
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Icon {
  margin: 0px 8px 8px 8px;
}

.Title {
  display: flex;
  width: calc(100% - 30px);
  text-align: center;
  color: #191c1a;
  font-size: 20px;
  font-weight: 700;
  margin: 25px 0 23px 24px;
}

.TabContainer {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  margin: 0 16px 12px 16px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

.Title a {
  text-decoration: none;
  color: inherit;
}

.Tab {
  color: #191c1a;
  width: 110px;
  height: 32px;
  font-size: 13px;
  text-decoration: none;
  text-transform: none;
  z-index: 1;
  font-weight: 700;
}

.TabSelected {
  color: #fff !important;
}

/* Overriding Typography styling */
.TitleText {
  color: #191c1a;
  cursor: pointer;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .ChatConversations {
    width: 100% !important;
  }

  .ChatMessages {
    display: none;
    width: 100%;
  }

  .ToolBar {
    padding: 24px 16px 0 16px !important;
    width: 100% !important;
  }
}

.SimulatorIcon {
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
}
