.LabelText {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #191c1a;
  display: flex;
  align-items: center;
}

.CollectionDescription {
  font-size: 16px;
  color: #93a29b;
  line-height: 1.25;
}

.CollectionIcon {
  width: 32px;
  height: 32px;
}

.UserCount {
  font-size: 15px;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: #555;
}

.ExportPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 24px;
  border-radius: 10px;
  padding: 24px;
}

.Label {
  min-width: 200px !important;
  width: 20% !important;
}

.Contact {
  width: 40% !important;
  min-width: 200px;
}

.Actions {
  width: 40% !important;
  min-width: 200px !important;
  text-align: end;
}
