.LabelText {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #191c1a;
  display: flex;
  align-items: center;
}

.CollectionDescription {
  font-size: 16px;
  color: #93a29b;
  line-height: 1.25;
}

.CollectionIcon {
  width: 32px;
  height: 32px;
}

.UserCount {
  font-size: 15px;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: #555;
}

.DescriptionText {
  composes: UserCount;
}

.ExportPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 24px;
  border-radius: 10px;
  padding: 24px;
}

.Label {
  width: 300px;
}

.Description {
  width: 400px;
}

.Contact {
  width: 200px;
}

.Actions {
  width: 30%;
  min-width: 200px;
  text-align: end;
}

.ViewButton {
  color: #777;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border-radius: 16px;
}
