.LabelText {
  font-weight: 500;
  font-size: 20px;
  margin: 0px;
  color: #073f24;
}

.CollectionDescription {
  font-size: 16px;
  color: #93a29b;
  line-height: 1.25;
}

.CollectionIcon {
  width: 32px;
  height: 32px;
}

.UserCount {
  font-size: 12px;
  color: #cacaca;
}
