.HistoryContainer {
  height: fit-content;
  padding-bottom: 0;
  background-color: #f8faf5;
}

.Title {
  color: #555555;
  font-size: 20px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  padding: 56px 50px 0 50px;
}

.DetailBlock {
  padding: 8px 0px;
  display: flex;
}

.LineItem {
  font-size: 16px;
  max-width: 320px;
  font-weight: 400;
  color: #073f24;
}

.Link {
  text-decoration: none;
  color: #119656;
  border-bottom: 1px dashed #119656;
}

.LineItemDate {
  margin-left: auto;
  color: #93a29b;
}

.Button {
  text-align: center;
  margin: 24px;
}

.Label {
  width: 50%;
  min-width: 200px;
  color: #191c1a;
  font-size: 16px;
  font-weight: 500;
}

.DateAndTime {
  color: #555;
  text-align: right;
  font-size: 15px;
  font-weight: 400;
  width: 50%;
  min-width: 200px;
}
