.DropDownContainer {
  padding: 8px 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FormStyle {
  width: 100% !important;
}

.DropDown {
  border-radius: 24px;
  border: 1px solid #cccccc;
  display: flex;
  width: 100% !important;
  margin: auto;
  height: 36px !important;
  background: #ffffff;
  min-height: 36px !important;
}

.DropDown > fieldset {
  border: none !important;
}

.syncButton {
  margin: 0 8px;
  cursor: pointer;
  height: 36px;
  border: 1px solid #cccccc;
  border-radius: 27px;
  background: #ffffff;
  box-shadow: none;
  color: #2ea36a;
  font-size: 14px;
  width: 25%;
}

.Autocomplete {
  max-width: 180px;
}
