.Name {
  min-width: 100px;
  width: 25%;
}

.Phone,
.Status {
  color: #555;
  font-size: 13px;
  font-weight: 500;
  min-width: 200px;
  width: 25%;
}

.Actions {
  min-width: 200px;
  text-align: end;
  width: 60%;
}

.NameText {
  color: #191c1a;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 6px;
}

.CollectionIcon {
  width: 32px;
  height: 32px;
}

.RedirectArrow {
  width: 15px;
  color: #777;
}

.CollectionsText {
  color: #555;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.DialogText {
  text-align: center;
}
