.Name {
  width: 300px;
}

.Phone {
  width: 200px;
  color: #93a29b;
  margin-top: 6px;
}

.Actions {
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.NameText {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 0px;
  color: #073f24;
  line-height: 1;
}

.CollectionIcon {
  width: 32px;
  height: 32px;
}

.RedirectArrow {
  width: 20px;
  color: #119656;
}
